

/*========================================================================
  Section           :   Zakres działalności fundacji
  Functionality     :   Slider na małe oraz "accordion" na dużych
  Version:          :   v1.0
  Updated:          :   02/09/2014

  Każda sekcja powinna mieć możliwie schematyczną budową.
  Traktujemy sekcje jako swego rodzaju boxy.

  Zadbaj o to aby:
  - nazwa klasy głównej rozpoczynająca się w konwencji .section__xxxxxx
  - określamy background lub jego brak
  - wewnątrz definicji tego stylu wyodrębniony header oraz main content
  - jeżeli jest jakieś tło to dołączamy je z "mod__ICLUDES" za pomocą @extend
  - opis tego opisu byl aktualny

=========================================================================*/

//Dzialalnosc
.section__dzialalnosc {

  //---------------------------------------------------------------
  // Media Queries
  //---------------------------------------------------------------
  @media #{$medium-up} { }

    $header-configuration: (
            font: medium,
            color: #fff,
            title-margin: 0 0 1em 0!important,
    );
  $large-up-conf: (
            title-margin: 0 0 3em 0!important
    );

  $primary-color: #012f48;
  //---------------------------------------------------------------
  // General look
  //---------------------------------------------------------------
  h1,h2,h3,h4,h5,h6 { color:#fff; }
  @extend %row--red;
  @include setSectionMobile(2em 0 1em 0);
  @include setSectionTablet(1em 0 4.5em 0);
//  @include setSectionPc(7em 0 13.5em 0);
//  @include setSectionHD(7em 0 11.5em 0);


  // ---------------------------------------------------------------
  // SECTION's header
  //---------------------------------------------------------------
  .section__header {
    @include module__header($header-configuration, $large-up-conf);
    .section__title { font-family: "OpenSans-Regular" !important; }
  }
  // ---------------------------------------------------------------
  // SECTION's main content
  //---------------------------------------------------------------
//
  .contentSlider {
    width: 100%;
    .rsBullets {
      @extend %rsBulletsBottom;
    }
  }


  .section__content {
    .__events--slide {
      text-align:center;
    }
    .__event {
      margin-bottom:1em;
      &:last-of-type {
        margin-bottom:0px;
      }
      // Slider
      //...
      .__info {
        &.selected {
          background:#e84163;
        }
      }

      .news__title {
        color: #203c52;
        font-family: "OpenSans-Regular";
        font-size: 1.25em;
        line-height: 1.2em;
//        text-shadow: -1px -1px 0px #752A2A;
        margin-bottom: 0.2em;
      }
      .news__intro {
        font-family:"OpenSans-Light";
        font-size:1.15em;
        line-height: 1em;
        color:#fff;
        margin-bottom:3px;
        padding-bottom:3px;
      }
      a:hover {
        text-decoration:underline;
      }
      .news__more {
        font-family:"OpenSans-Bold";
        color:#edebe9;
        font-size:0.85em;
        text-transform: lowercase;
        &:hover,
        &:focus {
          color:#203c52;
          opacity:0.8;
          font-family: "OpenSans-Light";
          text-decoration:none;

          &:before {
            content: "- ";
          }
        }
      }
      .__sep {
        display:none;
      }
      .xx {
        color:#eee9dc;
        margin-top:0.5em;
      }
      .__icon { display:none;}
    }
  }

  @media #{$medium-up} {

    $icon-distance-top: 28px;

    .__icon{
      background:transparent image-url("2_kropka.png") center center no-repeat;
      width:31px;
      height:31px;
      display: block !important;
      position: absolute;
    }

    .section__content {



      /**
        We gonna wrap events in __events--slide because of that on mobile we change this section into slider,
        and following class is needed to wrap some portions of events. Otherwise we'd have single event as single slider.
      */
      .__events--slide {
        float:none !important;
        text-align:left;

        /**
           Special styles for first event. First event is only in first slide wrapper.
        */
        &:first-of-type {
          .__event:first-of-type {
            .__container {
              .__info {
                margin-top:-60px;
              }
              .__icon {
                position: relative !important;
                top:-21px !important;
                float:left;
              }
            }

          }
        }

        /*
           Special styles for last event. Last event is only in last slide wrapper.
        */
        &:last-of-type {
          .__event:last-of-type {
            .__container {
              .__icon {
                top: auto !important;
                bottom:0px !important;
              }
            }
          }
        }
      }

      /*
        Styles for single event and timeline
      */
      .__event {
        float:none !important;
        margin-top:-1px;
        margin-bottom:0px !important;


        // Left side ----------------------------------------------
        &:nth-child(odd){
          display:table;
          border-collapse: collapse;
          width:100%;
          .__container {
            background: transparent image-url("2_kropka-line.png") 0 top repeat-y;
            .__info { margin-left:70px !important; }
            .__icon { top: $icon-distance-top; }
          }
          .__sep {
            display:block !important;
          }
          .xx {
            h5 {
              width: 23px;
              height: 22px;
              border-radius: 50%;
              background: #e7375b;
              text-align: center;
              display: inline-block;
              margin-right: 10px;
              opacity:0.9;
            }
          }
        }

        &.last {
          .__info {
            margin-bottom:-40px !important;
          }
          .__sep {
            .__icon {
              top:auto !important;
              bottom:0px;
            }
          }
        }

        // Right side ----------------------------------------------
        &:nth-child(even) {
          display:table;
          width:100%;
          .__container {
            .__info {
              text-align:right;
              margin-right:38px !important;
            }
            .__icon { top:15px; }
          }
          .__sep {
            background: transparent image-url("2_kropka-line.png") 0 top repeat-y;
            .__icon { top:$icon-distance-top; margin-left:0px; }
          }
          .xx {
            ul {
              text-align: right;
              list-style-position: inside;
            }
          }
        }


        // Regular styles ------------------------------------------
        .__wrapper {
          display: table-row;
          width:100%;
          .__container {
            position:relative;
            display: table-cell;
            width:50%;
            .__info {
              padding:1em;
              .news__title {
                font-size:1.5em;
              }
            }
          }
          .__sep {
            position:relative;
            display: table-cell;
            width:50%;
          }
        }

      }

    }
  }
}
