/*========================================================================
  Section           :   Strona powitalna
  Functionality     :   Text+image+background images
  Version:          :   v1.0
  Updated:          :   02/09/2014

  Każda sekcja powinna mieć możliwie schematyczną budową.
  Traktujemy sekcje jako swego rodzaju boxy.

  Zadbaj o to aby:
  - nazwa klasy głównej rozpoczynająca się w konwencji .section__xxxxxx
  - określamy background lub jego brak
  - wewnątrz definicji tego stylu wyodrębniony header oraz main content
  - jeżeli jest jakieś tło to dołączamy je z "mod__ICLUDES" za pomocą @extend
  - opis tego opisu byl aktualny

=========================================================================*/

//html {
//  background: $background-color;
//}


html {
  background:$background-color;
  @include putSectionImage($background-color,"1_motyw.png","","","", top left,"","","");
  background-size:           60%;
  @media #{$xlarge-up} {
    background-size:           40% !important;
  }
}

// Strona głowna
.section__home {

  //---------------------------------------------------------------
  // Media Queries
  //---------------------------------------------------------------
//  @media #{$medium-up}       { background-size: 60%; }
//  @media #{$large-up}        { background-size: 60%; }

  //---------------------------------------------------------------
  // General look
  //---------------------------------------------------------------
//  @extend                    %maxHeight;
//  @include                   putSectionImage($background-color,"1_motyw.png","", top left,"");
//  background-size:           60%;

  // Rows
  .row {
    &.row-1 {
      height:        40%;
      @media #{$large-up} {
        max-width: 95%;
        .fundacja__logo {
          top:1.8em;
        }
      }
    }
    &.row-2 { height:        48%;}
  }

  // Logotyp
  ._content {
    position:             absolute;
    top:                  1rem;
    right:                1rem;
  }
  .fundacja__logo {
    .logo {
      @media #{$medium-up}  { width:180px; }
      @media #{$large-up}   { width:231px; height:126px; max-width:231px !important; }
      width:                45%;
      max-width:            155px;
    }
  }

  #lang-ui {
    margin-top:7px;
    padding-top:4px;
    border-top:1px solid #305568;
    text-align:center;
    ul {
      li {
        display: inline-block;
        font-size:1.3em;
        color:#005593;
        &:first-of-type {
          &:after {
            content:"/";
          }
        }
        a {
          font-family:"OpenSans-Light";
          color:#005593;
          font-weight: bold;
          padding:3px 7px;
          &:hover {
            color:#e7375b;
          }
        }
        &.active {
          a {
            color:#e7375b;
          }
        }
      }
    }
  }

  // ---------------------------------------------------------------
  // SECTION's header
  //---------------------------------------------------------------
  .section__header {
    .section__title {
      text-transform:       uppercase;
      @extend               %font__size--xlarge;
      @include              putBorder(top, $blue4-color, 4px);
      @include              putBorder(bottom, $blue4-color, 4px);
      display:              inline-block;
    }
    @media #{$xlarge-only} {
      position: absolute;
      left: -96px;
      top: -100px;
    }

  }

  // ---------------------------------------------------------------
  // SECTION's main content
  //---------------------------------------------------------------
  .section__content { }

  // Button
  .btn__arrow--down {
    @extend %btn__arrow--down;
    position:absolute;
    bottom:0px;
    margin-left: auto;
    margin-right: auto;
    padding:0px;
    left: 0;
    right: 0;
    height:90px;
    width:90px;
    @media #{$large-up} {
      left:auto !important;
      right: 8% !important;
      bottom: 17% !important;
    }
  }
}

