/*========================================================================
  Section           :   Strona powitalna
  Functionality     :   Text+image+background images
  Version:          :   v1.0
  Updated:          :   02/09/2014

  Każda sekcja powinna mieć możliwie schematyczną budową.
  Traktujemy sekcje jako swego rodzaju boxy.

  Zadbaj o to aby:
  - nazwa klasy głównej rozpoczynająca się w konwencji .section__xxxxxx
  - określamy background lub jego brak
  - wewnątrz definicji tego stylu wyodrębniony header oraz main content
  - jeżeli jest jakieś tło to dołączamy je z "mod__ICLUDES" za pomocą @extend
  - opis tego opisu byl aktualny

=========================================================================*/

//html {
//  background: $background-color;
//}


html {
  background:$background-color;
  @include putSectionImage($background-color,"1_motyw.png","","","", top left,"","","");
  background-size:           60%;
  @media #{$xlarge-only} {
    background-size:           40% !important;
  }
}

// Strona głowna
.section__home {

  //---------------------------------------------------------------
  // Media Queries
  //---------------------------------------------------------------
//  @media #{$medium-up}       { background-size: 60%; }
//  @media #{$large-up}        { background-size: 60%; }

  //---------------------------------------------------------------
  // General look
  //---------------------------------------------------------------
//  @extend                    %maxHeight;
//  @include                   putSectionImage($background-color,"1_motyw.png","", top left,"");
//  background-size:           60%;

  // Rows
  .row {
    &.row-1 { height:        40%;}
    &.row-2 { height:        48%;}
  }

  // Logotyp
  .fundacja__logo {
    .logo {
      @media #{$medium-up}  { width:180px; }
      @media #{$large-up}   { width:231px; height:126px; max-width:231px !important; }
      position:             absolute;
      top:                  1rem;
      right:                1rem;
      width:                45%;
      max-width:            155px;
    }
  }

  // ---------------------------------------------------------------
  // SECTION's header
  //---------------------------------------------------------------
  .section__header {
    .section__title {
      text-transform:       uppercase;
      @extend               %font__size--xlarge;
      @include              putBorder(top, $blue4-color, 2px);
      @include              putBorder(bottom, $blue4-color, 2px);
    }
    @media #{$xlarge-only} {
      position: absolute;
      left: -96px;
      top: -100px;
    }

  }

  // ---------------------------------------------------------------
  // SECTION's main content
  //---------------------------------------------------------------
  .section__content { }

  // Button
  .btn__arrow--down {
    @extend %btn__arrow--down;
    position:absolute;
    bottom:0px;
    margin-left: auto;
    margin-right: auto;
    padding:0px;
    left: 0;
    right: 0;
    height:90px;
    width:90px;
  }
}

