

/*========================================================================
  Section           :   Kontakt
  Functionality     :   Text + images + forms
  Version:          :   v1.0
  Updated:          :   02/09/2014

  Każda sekcja powinna mieć możliwie schematyczną budową.
  Traktujemy sekcje jako swego rodzaju boxy.

  Zadbaj o to aby:
  - nazwa klasy głównej rozpoczynająca się w konwencji .section__xxxxxx
  - określamy background lub jego brak
  - wewnątrz definicji tego stylu wyodrębniony header oraz main content
  - jeżeli jest jakieś tło to dołączamy je z "mod__ICLUDES" za pomocą @extend
  - opis tego opisu byl aktualny

=========================================================================*/


// Kontakt
.section__kontakt {

  //---------------------------------------------------------------
  // Media Queries
  //---------------------------------------------------------------

  @media #{$medium-up} {
    @include putSectionImage(transparent,"11_motywl.png","11_motyws.png", "","",bottom left,bottom right,bottom right,bottom right);
    background-repeat: no-repeat, repeat-x;
  }


  //---------------------------------------------------------------
  // General look
  //---------------------------------------------------------------
  h1,h2,h3,h4,h5,h6 { color:$blue5-color; }
  background:$background-color;

  // Section margines
  > .row {
    @include setSectionMobile(0 0 5em 0);
    @include setSectionTablet(3em 0 8em 0);
    @include setSectionPc(3em 0 8em 0);
  }
  > .row:first-of-type {
    padding-bottom:0px;
  }


  // ---------------------------------------------------------------
  // SECTION's header
  //---------------------------------------------------------------

  .section__header {
    .section__title {
      @extend %font__size--large;
    }
  }

  h2 {
    font-family:"OpenSans-Regular";
    font-size:1.9em;
    margin-bottom:0.89em;
  }

  .button.tiny {
    background:transparent;
    padding-left:0px;
    color:$blue5-color;
    font-family: "OpenSans-Light";
    font-size:1.6em;
  }

  input, textarea {
    font-family: "OpenSans-Light" !important;

  }

  h2.kontakt_form--label {
    background:transparent image-url("10_ikonka_formularz.png") no-repeat;
    background-position: left center ;
    padding-left:40px;
  }

  .kontakt__data {
    p{
      margin-bottom:0.1em;
      padding-left: 45px;
      font-family: "OpenSans-Light";
      font-size:1.3em;
    }
    li {
      list-style:none;
      margin-bottom:1.8em;
    }
    .kontakt__address {
      margin-top:3em;
      .kontakt__icon {
        background:transparent image-url("10_ikonka_fundacja.png") no-repeat;
        background-position: left center ;
        padding-left:40px;
        font-size:1.5em;
        > span {
          font-weight: bold;
        }
      }
    }
    .kontakt__email {
      .kontakt__icon {
        background:transparent image-url("10_ikonka_email.png") no-repeat;
        background-position: left center ;
        padding-left:40px;
      }
    }
    .kontakt__tel {
      .kontakt__icon {
        background:transparent image-url("10_ikonka_telefon.png") no-repeat;
        background-position: left center ;
        padding-left:40px;
      }
    }
    .kontakt__bank {
      .kontakt__icon {
        background:transparent image-url("10_ikonka_konto.png") no-repeat;
        background-position: left center ;
        padding-left:40px;
      }
    }
  }



}

