/*========================================================================
  Section           :   Misja
  Functionality     :   Text
  Version:          :   v1.1
  Updated:          :   12/09/2014
=========================================================================*/

// Misja
.section__misja {

  //---------------------------------------------------------------
  // Ustawienia
  //---------------------------------------------------------------

//  $header-configuration: (
//          color: #4dff36,
//          color2: #e84615,
//          color3: #e8e514,
//  );

  $primary-color: #012f48;

                    //---------------------\\
                   //    Media Queries      \\
  //--------------------------------------------------------------
  @media #{$medium-up} {
    @include putSectionImage(transparent,"2_motywG2.png","", "","",bottom right,"","","");
  }

  //---------------------------------------------------------------
  // General look
  //---------------------------------------------------------------
  h1,h2,h3,h4,h5,h6 { color:$primary-color; }

  // ---------------------------------------------------------------
  // Layout
  //---------------------------------------------------------------
  .row {
    @include setSectionMobile(4em 0 3em 0);
    @include setSectionTablet(2em 0 12.5em 0);
    @include setSectionPc(2em 0 15.5em 0);
  }

  // ---------------------------------------------------------------
  // SECTION's header
  //---------------------------------------------------------------
  .section__header {
//    @include module__header($header-configuration);
    @include module__header();
  }

  // ---------------------------------------------------------------
  // SECTION's content
  //---------------------------------------------------------------
  .section__content { }
}
