.fixed {
  z-index:9999;
}

.top-bar-section {
  li {
    a {
      font-size:1em !important;
      &:hover {
        font-family: "OpenSans-Bold";
        font-weight:bold;
      }
    }
    &.lang {
      a {
        padding:0px !important;
      }
    }
    &.lang {
      padding-left:8px !important;
      a {
        padding-left:8px !important;
      }
    }
    &.lang.active {
      a {
        color:#ea5170 !important;
      }
    }
  }
}

.fixed.expanded:not(.top-bar){
  .top-bar-section {
     z-index: 98;
     margin-top: 0px;
  }
  .title-area {
     position: relative;
     width: auto;
     z-index: auto;
  }
}
@media #{$sliders-gap}{
  .top-bar-section {
    li {
      a {
        font-size:0.9em !important;
      }
    }
  }
}
@media #{$large-up}{
  #top--nav {
    &.contain-to-grid {
      .top-bar {
        max-width:92%;
        min-width: 997px;
      }
    }
  }
}

#side--nav {
  display:none;
}

.top-bar {
  .name {
    h1 {
      a {
        padding: 0 10px !important;
      }
    }
  }
}

.top-bar-section {
  li:not(.has-form) {
    a:not(.button) {
      padding: 0 8px;
      line-height: 80px;
      background: white;
    }
  }
}