.fixed {
  z-index:9999;
}

.top-bar-section {
  li {
    a {
      font-size:1em !important;
      &:hover {
        font-family: "OpenSans-Bold";
        font-weight:bold;
      }
    }
  }
}

.fixed.expanded:not(.top-bar){
  .top-bar-section {
     z-index: 98;
     margin-top: 0px;
  }
  .title-area {
     position: relative;
     width: auto;
     z-index: auto;
  }
}

@media #{$large-up}{
  #top--nav {
    &.contain-to-grid {
      .top-bar {
        max-width:92%;
        min-width: 997px;
      }
    }
  }
}