@import "mod___INCLUDES";

/*========================================================================
  Section           :   Aktualności
  Functionality     :   Slider
  Version:          :   v1.3
  Updated:          :   11/09/2014

  Każda sekcja powinna mieć możliwie schematyczną budową.
  Traktujemy sekcje jako swego rodzaju boxy.

  Zadbaj o to aby:
  - nazwa klasy głównej rozpoczynająca się w konwencji .section__xxxxxx
  - określamy background lub jego brak
  - wewnątrz definicji tego stylu wyodrębniony header oraz main content
  - jeżeli jest jakieś tło to dołączamy je z "mod__ICLUDES" za pomocą @extend
  - opis tego opisu byl aktualny

=========================================================================*/

// News
.section__news {

  //---------------------------------------------------------------
  // Media Queries
  //---------------------------------------------------------------
  @media #{$medium-up} {
//    @include setSectionMobile(14em 0);
    @include putSectionImage($background-color,"4_motywG.png","2_motywD3.png", "4_motywDs.png","", bottom left, top right, bottom right, bottom right );
  }

  //---------------------------------------------------------------
  // General look
  //---------------------------------------------------------------
  h1,h2,h3,h4,h5,h6 { color:$blue5-color; }
  background-color: $background-color;

  // Section margines
  > .row {
    @include setSectionMobile(2em 0 2em 0);
    @include setSectionTablet(21em 0 14em 0);
    @include setSectionPc(14em 0 10.5em 0);
  }

  // Separator
  .sep {
    &.sep--top {
      @include putSeparator( $blue3-color, 60%);
      margin-bottom:0.5em;
    }
    &.sep--bottom {
      @include putSeparator( $blue3-color, 40%);
      margin-top:0.5em;
    }
  }

  // ---------------------------------------------------------------
  // SECTION's header
  //---------------------------------------------------------------
  .section__header {
    .section__title {
      @extend %font__size--large;
    }
    .section__subtitle {
      @extend %font__size--medium;
      padding-bottom:2em;
      span {
        font-family:"OpenSans-Regular" !important;
        color:$blue3-color;
      }
    }
  }


  .section__content {
    //Slider
    .slide__title {
      font-family: "OpenSans-Bold";
      color: #255a78;
      font-size:1.16em;
      line-height: 1.2em;
      margin-top:1em;
    }
    .slide__subTitle {
      font-family: "OpenSans-Regular";
      color: #13688d;
      font-size:rem-calc(14);
      line-height: 1.2em;
      padding-bottom:0.8em;
    }
    .slide__intro {
      font-family: "OpenSans-Light";
      color: $blue5-color;
      margin:0px;
      padding-bottom:0.2em;
    }
    .slide--more {
      font-family: "OpenSans-Regular";
      font-size:0.9em;
      color:$blue-color;
      text-decoration: none;
      text-transform: uppercase;
    }
    .sep {
      &.sep--top {
        @include putSeparator( $blue3-color, 63%);
        margin-bottom:0.5em;
      }
    }

    // Reveal
    .contentSlider.withRelativeReveal {
      .slide__dateTime2 {
        font-family:"OpenSans-Light";
        font-size:1em;
        border-bottom:1px solid $blue3-color;
        display: inline-block;
        margin-bottom:10px;
      }
      .slide__subTitle2 {
        font-family:"OpenSans-Regular";
        font-size:1.1em;
      }
      .rsImg2 {
        float:left;
        margin-right:4%;
      }
      .close-reveal-modal {
        position:relative !important;
        font-size:1em;
        font-family:"OpenSans-Regular";
        color:$blue3-color;
        text-transform:lowercase;
        float:right;
        background:transparent url("#{$dir_GFX}9_strzalka.png") right 5px no-repeat;
        height: 100px;
        background-size: 30%;
        padding-right: 30px;
        margin-right:-45px;
        &:hover {
          opacity:0.9;
          text-decoration:underline;
        }
      }
    }
  }


  @extend %put-sliderArrowsMain;


  @media #{$small-only} {
    #slider-news {
      .rsSlide {
        > div {
//          margin:0px 50px;
        }
      }
      div {
        text-align:center;
      }
    }
  }

  @media #{$medium-only} {
    .section__content {
      //Slider
      .slide__title {
        font-size:1em;
        line-height: 1.2em;
        margin-top:1em;
      }
      .slide__subTitle {
        font-family: "OpenSans-Regular";
        color: #13688d;
        font-size:0.75em;
        line-height: 1.2em;
        padding-bottom:0.8em;
      }
      .slide__intro {
        font-family: "OpenSans-Light";
        color: $blue5-color;
        margin:0px;
        padding-bottom:0.2em;
      }
      .slide--more {
        font-family: "OpenSans-Regular";
        font-size:0.9em;
        color:$blue-color;
        text-decoration: none;
        text-transform: uppercase;
      }
      .sep {
        &.sep--top {
          @include putSeparator( $blue3-color, 63%);
          margin-bottom:0.5em;
        }
      }
    }
  }

  @media #{$large-up} {
  }

}



  .reveal-modal,
  dialog.full {
    width: 95% !important;
    height: 100% !important;
  }

  .reveal-modal-bg {
    top:auto !important
  }
  .reveal-modal {
    top:auto !important;
    background:$background-color;
  }
