@import "mod___INCLUDES";

/*========================================================================
  Section           :   Instytucje partnerskie
  Functionality     :   Text
  Version:          :   v1.0
  Updated:          :   03/09/2014

  Każda sekcja powinna mieć możliwie schematyczną budową.
  Traktujemy sekcje jako swego rodzaju boxy.

  Zadbaj o to aby:
  - nazwa klasy głównej rozpoczynająca się w konwencji .section__xxxxxx
  - określamy background lub jego brak
  - wewnątrz definicji tego stylu wyodrębniony header oraz main content
  - jeżeli jest jakieś tło to dołączamy je z "mod__ICLUDES" za pomocą @extend
  - opis tego opisu byl aktualny

=========================================================================*/

// Partnerzy
.section__instytucjepartnerskie {

  //---------------------------------------------------------------
  // Media Queries
  //---------------------------------------------------------------
  @media #{$medium-up} {
  }

  //---------------------------------------------------------------
  // General look
  //---------------------------------------------------------------
  h1,h2,h3,h4,h5,h6 { color:$blue5-color; }
  background:$background-color;

  // Section margines
  .row {
    @include setSectionMobile(2em 0 2em 0);
    @include setSectionTablet(3em 0 0.5em 0);
    @include setSectionPc(4.5em 0 2em 0);
  }

  // ---------------------------------------------------------------
  // SECTION's header
  //---------------------------------------------------------------
  .section__header {
    .section__title {
      font-family:"OpenSans-Regular";
      color:$blue7-color;
      font-size:2em;
      line-height: 1.1em;
      margin:1.2em 0 0.9em;

      span {
        color:$blue3-color;
        font-family:"OpenSans-Light";
      }
      span { display: block; }
    }
    .sep {
      &.sep--top {
        @include putSeparator( $blue3-color, 40%);
        margin-bottom:0.5em;
      }
      &.sep--bottom {
        @include putSeparator( $blue3-color, 50%);
        margin-top:0.5em;
      }
    }
  }

}


@media #{$medium-only} {  }

@media #{$large-up} {  }