@import "../settings";
@import "../foundation/components/grid";
@import "compass/css3/font-face";



html, body, #globalContainer {
  height: 100%;
}


/*------------------------------------*\
    FONTS
\*------------------------------------*/

@include font-face("MyriadPro-LightCond",     font-files("MyriadPro-LightCond.otf"));
@include font-face("MyriadPro-SemiboldCond",  font-files("MyriadPro-SemiboldCond.otf"));
@include font-face("OpenSans-Bold",           font-files("OpenSans-Bold.ttf"));
@include font-face("OpenSans-Light",          font-files("OpenSans-Light.ttf"));
@include font-face("OpenSans-Regular",        font-files("OpenSans-Regular.ttf"));


%font__size--xlarge {
  font-family:"MyriadPro-LightCond";
  font-size:2.35em;
  color:$blue4-color;
  span {
    display: block;
    font-family:"MyriadPro-SemiboldCond";
    font-size: 2.2em;
    line-height: 0.9;
  }

  @media #{$medium-up} { font-size:2.2em; }
  @media #{$large-up}  { font-size:5.2em; }
}

%font__size--large {
  font-family:"OpenSans-Bold";
  font-size:2.8em;
  margin-bottom:0.7em;
  margin-top:0.23em;
  @media #{$medium-up} { font-size:4.5em; }
  @media #{$large-up}  { font-size:4.5em; }
}

%font__size--medium {
  font-family:"OpenSans-Regular";
  font-size:1.8em;
  line-height:1.15em;
  @media #{$medium-up} { font-size:4.5em; }
  @media #{$large-up}  { font-size:4.5em; }
}



/*------------------------------------*\
    SETTINGS
\*------------------------------------*/
$default-arrow-right: "9_strzalka.png";
$default-arrow-left: "8_strzalka.png";

section.rowWrapper {
  position: relative;
  min-height:115px;
  .row {
    position: relative;
  }

}


/*------------------------------------*\
    SCHEMATY KOLORYSTYCZNE
\*------------------------------------*/
%row--red {
  background-color:$red-color;
  color:#fff;
}
%row--blue {
  background-color:$blue-color;
  color:#fff;
}
%row--green {
  background-color:$green-color;
  color:#fff;
}
%row--green2 {
  background-color:$green2-color;
  color:#fff;
}
%row--violet {
  background-color:$violet-color;
  color:#fff;
}

.gps_ring {
  border: 3px solid #999;
  -webkit-border-radius: 30px;
  height: 18px;
  width: 18px;
  position: absolute;
  left:20px;
  top:214px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0
}

%btn__arrow--down {
  display:inline-block;
  background: transparent url("http://launchr.pl/goat-in-spa/gfx/1_strzalkaD.png") center center no-repeat;
  background-size: 50%;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
//  width:103px;
//  height:103px;
}

@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}


/*========================================================================
  Mixin             :   OUTLIER
  Version:          :   v1.0
  Updated:          :   03/09/2014

  @position         : Border position (top/bottom/left/right)
  @color            : Color
  @width            : Width (3px, 6em, etc.)
  @style            : Solid, double etc. (!OPTIONAL)

  This mixin put border in the position.

=========================================================================*/
@mixin putBorder($position, $color, $width, $style: solid) {
  border-#{$position}: $width $style $color;
}

/*========================================================================
  Mixin             :   CASAI (Cross ä Section Arrow Intruder)
  Version:          :   v1.0
  Updated:          :   02/09/2014

  @height           : Maximum height of an arrow (image)
  @position         : Left / Right

  This mixin take two parameters (height of an image, and position) to
  compile style which gives arrows following behaviour:
  - arrows must go through two section
  - it must be mobile optimized (size of an arrow and margines)
  - if wrapper has some padding or margins it must be this-shit-proof
  - arrows must be always on top of layers

=========================================================================*/
@mixin crossSectionArrow($height, $position) {

  $margin: 5%;
  $margin-medium: 1.5rem;
  $margin-large: 0.5rem;

  position: absolute;
  bottom:-2rem;
  height:5.3em;
  @if $position == "right" { right:$margin; }
  @else if $position == "left"{ left:$margin; }
  margin:0px;
  padding:0px;
  z-index:999;

  img {
    display: block;
    height:100%;
  }

  @media #{$medium-only} {
    height:6em;
    bottom:-3rem;

    @if $position == "right" { right:$margin-medium; }
    @else if $position == "left"{ left:$margin-medium; }
  }
  @media #{$large-only} {
    height:7em;
    bottom:-4rem;

    @if $position == "right" { right:$margin-large; }
    @else if $position == "left"{ left:$margin-large; }
  }

}

// Create class objects
.crossSectionArrow--right {
  @include crossSectionArrow("100px", right);
}

.crossSectionArrow--left {
  @include crossSectionArrow("100px", left);
}


/*========================================================================
  Mixin robinHoodArrow includes image using background-image property.

  author: Wojciech Mikołajewski <wojciechmikolajewski@gmail.com>
=========================================================================*/
@mixin robinHoodArrow($file, $position) {

  @if $position == "right" {
    background-image:url("../../gfx/#{$file}");
    background-position: top right;
  }
  @else if $position == "left" {
    background-image:url("../../gfx/#{$file}");
    background-position: top left;
  }
  @else {
    // error!
  }
  background-repeat: no-repeat;
  background-size: 25%;

}