@import "mod___INCLUDES";

/*========================================================================
  Section           :   Misja
  Functionality     :   Text
  Version:          :   v1.0
  Updated:          :   04/09/2014

  Każda sekcja powinna mieć możliwie schematyczną budową.
  Traktujemy sekcje jako swego rodzaju boxy.

  Zadbaj o to aby:
  - nazwa klasy głównej rozpoczynająca się w konwencji .section__xxxxxx
  - określamy background lub jego brak
  - wewnątrz definicji tego stylu wyodrębniony header oraz main content
  - jeżeli jest jakieś tło to dołączamy je z "mod__ICLUDES" za pomocą @extend
  - opis tego opisu byl aktualny

=========================================================================*/

// Misja
.section__patroni {

  //---------------------------------------------------------------
  // Media Queries
  //---------------------------------------------------------------
  @media #{$medium-up} { }

  //---------------------------------------------------------------
  // General look
  //---------------------------------------------------------------
  background:$background-color;
  h1,h2,h3,h4,h5,h6 { color:$blue5-color; }

  // Section margines
  .row {
    @include setSectionMobile(0 0 0 0);
    @include setSectionTablet(0.5em 0 0.5em 0);
    @include setSectionPc(1em 0 0.5em 0);
  }

  // ---------------------------------------------------------------
  // SECTION's header
  //---------------------------------------------------------------
  .section__header {

    // Style
    .section__title {
      @extend %font__size--large;
    }
    .section__subtitle {
      &::first-line       { color:$blue3-color; }
      padding:            0.8rem 0px;
      @extend             %font__size--medium;
      @include putBorder  (top, $blue3-color, 2px);
      @include putBorder  (bottom, $blue6-color, 1px);
    }
  }
  .section__content {
    .tabs {
      dd {

        > a {
          padding:0 !important;

          img {
            &:hover {
              @extend %partner--hover;
            }
          }
        }
        &.active {
          a {
            img {
              @extend %partner--hover;
            }
          }

        }
      }
    }
  }
}

