@import "mod___INCLUDES";

/*========================================================================
  Section           :   Misja
  Functionality     :   Text
  Version:          :   v1.0
  Updated:          :   02/09/2014

  Każda sekcja powinna mieć możliwie schematyczną budową.
  Traktujemy sekcje jako swego rodzaju boxy.

  Zadbaj o to aby:
  - nazwa klasy głównej rozpoczynająca się w konwencji .section__xxxxxx
  - określamy background lub jego brak
  - wewnątrz definicji tego stylu wyodrębniony header oraz main content
  - jeżeli jest jakieś tło to dołączamy je z "mod__ICLUDES" za pomocą @extend
  - opis tego opisu byl aktualny

=========================================================================*/

// Misja
.section__misja {

  //---------------------------------------------------------------
  // Media Queries
  //---------------------------------------------------------------
  @media #{$medium-up} {
//    @include putSectionImage(transparent,"2_motywG2.png","", bottom right,"");
  }

  //---------------------------------------------------------------
  // General look
  //---------------------------------------------------------------
  h1,h2,h3,h4,h5,h6 { color:$blue5-color; }
//  background-color:$background-color;

  // Section margines
  .row {
    @include setSectionMobile(0 0 3em 0);
    @include setSectionTablet(2em 0 12.5em 0);
    @include setSectionPc(0 0 15.5em 0);
  }

  // ---------------------------------------------------------------
  // SECTION's header
  //---------------------------------------------------------------
  .section__header {
    .section__title {
      @extend %font__size--large;
    }
    .section__subtitle {
      //MQ
      @media #{$medium-up} { @include setSpace(0.8em 2em 1em 2em); }
      @media #{$large-up}  { @include setSpace(1em 0 1em 0); }
      //Styles
      .first__line        { color:$blue3-color; }
      padding:             0.8rem 0px;
      @extend              %font__size--medium;
//      @include putBorder   (top, $blue3-color, 2px);
//      @include putBorder   (bottom, $blue6-color, 1px);
    }

    .sep {
      &.sep--top {
        @include putSeparator( $blue3-color, 60%);
        margin-bottom:0.5em;
      }
      &.sep--bottom {
        @include putSeparator( $blue3-color, 40%);
        margin-top:0.5em;
      }
    }
  }
}

