@import "../settings";

/*------------------------------------*\
    SETTINGS
\*------------------------------------*/
$default-arrow-right: "9_strzalka.png";
$default-arrow-left: "8_strzalka.png";

section {
  position: relative;
  min-height:115px;
}


/*------------------------------------*\
    SCHEMATY KOLORYSTYCZNE
\*------------------------------------*/
%row--red {
  background-color:$red-color;
  color:#fff;
}
%row--blue {
  background-color:$blue-color;
  color:#fff;
}
%row--green {
  background-color:$green-color;
  color:#fff;
}
%row--green2 {
  background-color:$green2-color;
  color:#fff;
}

// Kreski dla pewnych tekstów
%line--top {
  border-top:1px solid #333;
}
%line--bottom {
  border-bottom:1px solid #333;
}

/*========================================================================
  Mixin             :   CASAI (Cross ä Section Arrow Intruder)
  Version:          :   v1.0
  Updated:          :   02/09/2014

  @height           : Maximum height of an arrow (image)
  @position         : Left / Right

  This mixin take two parameters (height of an image, and position) to
  compile style which gives arrows following behaviour:
  - arrows must go through two section
  - it must be mobile optimized (size of an arrow and margines)
  - if wrapper has some padding or margins it must be this-shit-proof
  - arrows must be always on top of layers

=========================================================================*/

@mixin crossSectionArrow($height, $position) {

  $margin: 5%;
  $margin-medium: 10%;
  $margin-large: 15%;

  position: absolute;
  bottom:-2rem;
  height:5.3em;
  @if $position == "right" { right:$margin; }
  @else if $position == "left"{ left:$margin; }
  margin:0px;
  padding:0px;
  z-index:999;

  img {
    display: block;
    height:100%;
  }

  @media #{$medium-only} {
    height:6em;
    @if $position == "right" { right:$margin-medium; }
    @else if $position == "left"{ left:$margin-medium; }
  }
  @media #{$large-only} {
    height:7em;
    @if $position == "right" { right:$margin-large; }
    @else if $position == "left"{ left:$margin-large; }
  }

}

// Create class objects
.crossSectionArrow--right {
  @include crossSectionArrow("100px", right);
}

.crossSectionArrow--left {
  @include crossSectionArrow("100px", left);
}


/************************************************************************************
  Mixin robinHoodArrow includes image using background-image property.
  author: Wojciech Mikołajewski <wojciechmikolajewski@gmail.com>
*/

@mixin robinHoodArrow($file, $position) {

  @if $position == "right" {
    background-image:url("../../gfx/#{$file}");
    background-position: top right;
  }
  @else if $position == "left" {
    background-image:url("../../gfx/#{$file}");
    background-position: top left;
  }
  @else {
    // error!
  }
  background-repeat: no-repeat;
  background-size: 25%;

}