@import "mod___INCLUDES";

/*========================================================================
  Section           :   Statut
  Functionality     :   Slider
  Version:          :   v1.0
  Updated:          :   04/09/2014

  Każda sekcja powinna mieć możliwie schematyczną budową.
  Traktujemy sekcje jako swego rodzaju boxy.

  Zadbaj o to aby:
  - nazwa klasy głównej rozpoczynająca się w konwencji .section__xxxxxx
  - określamy background lub jego brak
  - wewnątrz definicji tego stylu wyodrębniony header oraz main content
  - jeżeli jest jakieś tło to dołączamy je z "mod__ICLUDES" za pomocą @extend
  - opis tego opisu byl aktualny

=========================================================================*/


// Statut
.section__statut {

  //---------------------------------------------------------------
  // Media Queries
  //---------------------------------------------------------------
  @media #{$medium-up} {
    @include setSectionTablet(2em 0 2em 0 !important, false);
  }


  //---------------------------------------------------------------
  // General look
  //---------------------------------------------------------------
  h1,h2,h3,h4,h5,h6 { color:#fff; }
  @extend %row--green;

  // Section margines
  .row {
    @include setSectionMobile(1em 0 0 0);
    @include setSectionTablet(0 0 0 0);
    @include setSectionPc(0 0 0 0);
  }

  .sep {
    &.sep--top {
      @include putSeparator( #fff, 60%);
      margin-bottom:0.5em;
    }
    &.sep--bottom {
      @include putSeparator( #fff, 40%);
      margin-top:0.5em;
    }
  }

  // ---------------------------------------------------------------
  // SECTION's header
  //---------------------------------------------------------------
  .section__header {
    .section__title {
      @extend %font__size--large;
    }
    .section__subtitle {
      @extend %font__size--medium;
      padding-bottom:0.8em;
      span {
        font-family:"OpenSans-Regular" !important;
        color:#fff;
      }
    }
  }

  @extend %put-sliderArrowsMain;

  // ---------------------------------------------------------------
  // SECTION's main content
  //---------------------------------------------------------------
  .section__content {
    p {
      font-size:1.3em;
    }
  }

  .contentSlider {
    width: 100%;


    .rsBullets {
      @extend %rsBulletsBottom;
    }
    .rsArrowLeft {
      left: -15% !important; top: 0;
    }
    .rsArrowRight {
      right:  -15% !important; top: 0;
    }
  }
}



@media #{$medium-only} {
  .rsArrow {
    visibility: hidden;
  }
}
@media #{$large-only} {
  .rsArrow {
    visibility: hidden;
  }
}

@media #{$large-up} {  }