@import "mod___INCLUDES";

/*========================================================================
  Section           :   Misja
  Functionality     :   Text
  Version:          :   v1.0
  Updated:          :   04/09/2014

  Każda sekcja powinna mieć możliwie schematyczną budową.
  Traktujemy sekcje jako swego rodzaju boxy.

  Zadbaj o to aby:
  - nazwa klasy głównej rozpoczynająca się w konwencji .section__xxxxxx
  - określamy background lub jego brak
  - wewnątrz definicji tego stylu wyodrębniony header oraz main content
  - jeżeli jest jakieś tło to dołączamy je z "mod__ICLUDES" za pomocą @extend
  - opis tego opisu byl aktualny

=========================================================================*/

// Misja
.section__patroni {

  //---------------------------------------------------------------
  // Media Queries
  //---------------------------------------------------------------
  @media #{$medium-up} { }

  @media #{$medium-up} {
    @include putSectionImage(transparent,"7_motywGl.png","7_motywGs.png", "7_motywGs.png","7_motywGs.png",bottom left,bottom right,bottom right,bottom right);
    background-repeat: no-repeat, repeat-x;
  }

  //---------------------------------------------------------------
  // General look
  //---------------------------------------------------------------
  background:$background-color;
  h1,h2,h3,h4,h5,h6 { color:$blue5-color; }

  // Section margines
  .row {
    @include setSectionMobile(0 0 0 0);
    @include setSectionTablet(0.5em 0 13.5em 0);
    @include setSectionPc(1em 0 13.5em 0);
  }

  .row__decoration {
    .columns {
      background:transparent url("#{$dir_GFX}2_time_line.jpg") center center repeat-x;
      padding-right:0px;

      &:first-of-type{
        padding-left:0px;
        a {
          margin-top:0%;
        }
      }
      &:last-of-type{
      }
    }
  }

  .crossSectionArrow--right,
  .crossSectionArrow--left {
    height:130px !important;
    bottom:-4rem !important;
  }
  // ---------------------------------------------------------------
  // SECTION's header
  //---------------------------------------------------------------
  .section__header {

    // Style
    .section__title {
      @extend %font__size--large;
    }
    .section__subtitle {
      &::first-line       { color:$blue3-color; }
      padding:            0.8rem 0px;
      @extend             %font__size--medium;
      @include putBorder  (top, $blue3-color, 2px);
      @include putBorder  (bottom, $blue6-color, 1px);
    }
  }
  .section__content {
    .tabs {
      dd {
        padding-bottom:5em;
       figure {
          visibility: hidden;
        }
        > a {
          padding:0 !important;

          img {
            &:hover {
              @extend %partner--hover;
            }
          }
        }
        &.active {
          figure {
            visibility: visible;
          }
          a {
            img {
              opacity:0.6;
              @extend %partner--hover;
            }
          }
        }

      }
    }
    .tabs-content {
      h2:first-of-type {
        border-top:1px solid $blue3-color;
        border-bottom:1px solid $blue3-color;
        font-family:"OpenSans-Bold";
        font-size:2.5em;
        display: inline-block !important;
        //  line-height: 2em;
        line-height: 1.1em;
        margin:0.5em 0 0.9em;
        color:#255A78;
      }
      p {
        font-family:"OpenSans-Regular";
        font-size:1.4em;
      }
      .slide--more {
        display:block;
        text-align:center;
      }
    }
  }
}

