@import "mod___INCLUDES";

/*========================================================================
  Section           :   Statut
  Functionality     :   Slider
  Version:          :   v1.0
  Updated:          :   02/09/2014

  Każda sekcja powinna mieć możliwie schematyczną budową.
  Traktujemy sekcje jako swego rodzaju boxy.

  Zadbaj o to aby:
  - nazwa klasy głównej rozpoczynająca się w konwencji .section__xxxxxx
  - określamy background lub jego brak
  - wewnątrz definicji tego stylu wyodrębniony header oraz main content
  - jeżeli jest jakieś tło to dołączamy je z "mod__ICLUDES" za pomocą @extend
  - opis tego opisu byl aktualny

=========================================================================*/

.section__statut {

  // Add arrow as background image
  //  @include robinHoodArrow( $default-arrow-right, right);


  // COLOURS SCHEME ------------------------------------------------------
  h1,h2,h3,h4,h5,h6 { color:#fff; }

  // BACKGROUND ----------------------------------------------------------
  @extend %row--green;
  //  padding-top:25px;

  // HEADER --------------------------------------------------------------
  .section__header {

  }
  // MAIN CONTENT --------------------------------------------------------
  .section__content {

  }

  padding-top:2em;

}