@import "mod___INCLUDES";

/*========================================================================
  Section           :   Sprawozdania
  Functionality     :   Responsive table
  Version:          :   v1.0
  Updated:          :   04/09/2014

  Każda sekcja powinna mieć możliwie schematyczną budową.
  Traktujemy sekcje jako swego rodzaju boxy.

  Zadbaj o to aby:
  - nazwa klasy głównej rozpoczynająca się w konwencji .section__xxxxxx
  - określamy background lub jego brak
  - wewnątrz definicji tego stylu wyodrębniony header oraz main content
  - jeżeli jest jakieś tło to dołączamy je z "mod__ICLUDES" za pomocą @extend
  - opis tego opisu byl aktualny

=========================================================================*/

// Sprawozdania
.section__sprawozdania {

  //---------------------------------------------------------------
  // Media Queries
  //---------------------------------------------------------------
  @media #{$medium-up} { }

  //---------------------------------------------------------------
  // General look
  //---------------------------------------------------------------
  h1,h2,h3,h4,h5,h6 { color:#394509; }
  @extend %row--green2;
  @include setSectionMobile(2em 0 0 0);

  .row {
    &:nth-of-type(2){
      background:#a0c31f;
      margin-bottom:30px;
    }
  }

  .sep {
    @include putSeparator(#c9f033, 40%);
    margin-top:0;
    margin-bottom:$paragraph-margin-bottom;
  }

  // ---------------------------------------------------------------
  // SECTION's header
  //---------------------------------------------------------------
  .section__header {
    .section__title {
      @extend %font__size--large;
    }
  }
  // ---------------------------------------------------------------
  // SECTION's main content
  //---------------------------------------------------------------
  .subSection__rowWrapper {
    background:#a0c31f;
    .section__content {
      .columns {
        padding-top:1.2em;
        padding-bottom:1.2em;
      }
      // Settings for slider
      .contentSlider {
        width: 100%;
        .rsBullets {
          @extend %rsBulletsBottom;
        }
      }
      // Geeneral settings for list
      ul.list__files {
        list-style:none;
        margin:0px;
        padding:0px;
        .list__item {
          background:transparent url("#{$dir_GFX}8_ikonka_tekst.png") center left no-repeat;
          padding-left: 30px;
          background-size: 4%;
          margin-bottom:5px;
          a, a:visited {
            color:#394509;
          }
          a:hover {
            text-decoration:underline;
          }
        }
      }

    }
  }

  @media #{$small-only} {
    .section__sprawozdania {
      border-bottom:1.3em solid $green2-color;
    }
  }

  @media #{$medium-up} {
    .section__content {
      .column__header {
        display: block;
        background: transparent url("#{$dir_GFX}8_ikonki.png") top center no-repeat;
        background-size: 22%;
        width: auto;
        height: 80px;
      }
      .columns.medium-6{
        background:#a8c72e url("#{$dir_GFX}8_tlo_szklo_szklo.png") top right no-repeat;
        margin-top:-0.6rem;
      }
      ul.list__files {
        .list__item {
          padding-left: 30px;
          background-size: 6% !important;
        }
      }
    }
  }

  @media #{$large-up} {  }

}