@import "mod___INCLUDES";

/*========================================================================
  Section           :   Aktualności
  Functionality     :   Slider
  Version:          :   v1.2
  Updated:          :   11/09/2014

  Każda sekcja powinna mieć możliwie schematyczną budową.
  Traktujemy sekcje jako swego rodzaju boxy.

  Zadbaj o to aby:
  - nazwa klasy głównej rozpoczynająca się w konwencji .section__xxxxxx
  - określamy background lub jego brak
  - wewnątrz definicji tego stylu wyodrębniony header oraz main content
  - jeżeli jest jakieś tło to dołączamy je z "mod__ICLUDES" za pomocą @extend
  - opis tego opisu byl aktualny

=========================================================================*/

// News
.section__news {

  //---------------------------------------------------------------
  // Media Queries
  //---------------------------------------------------------------
  @media #{$medium-up} {
//    @include setSectionMobile(14em 0);
    @include putSectionImage($background-color,"4_motywG.png","2_motywD3.png", bottom left, top right);
  }

  //---------------------------------------------------------------
  // General look
  //---------------------------------------------------------------
  h1,h2,h3,h4,h5,h6 { color:$blue5-color; }
  background-color: $background-color;

  // Section margines
  > .row {
    @include setSectionMobile(2em 0 2em 0);
    @include setSectionTablet(21em 0 14em 0);
    @include setSectionPc(14em 0 0.5em 0);
  }

  // Separator
  .sep {
    &.sep--top {
      @include putSeparator( $blue3-color, 60%);
      margin-bottom:0.5em;
    }
    &.sep--bottom {
      @include putSeparator( $blue3-color, 40%);
      margin-top:0.5em;
    }
  }

  // ---------------------------------------------------------------
  // SECTION's header
  //---------------------------------------------------------------
  .section__header {
    .section__title {
      @extend %font__size--large;
    }
    .section__subtitle {
      @extend %font__size--medium;
      padding-bottom:2em;
      span {
        font-family:"OpenSans-Regular" !important;
        color:$blue3-color;
      }
    }
  }


  .section__content {
    //Slider
    .slide__title {
      font-family: "OpenSans-Bold";
      color: #255a78;
      font-size:1.16em;
      line-height: 1.2em;
      margin-top:1em;
    }
    .slide__subTitle {
      font-family: "OpenSans-Regular";
      color: #13688d;
      font-size:rem-calc(14);
      line-height: 1.2em;
      padding-bottom:0.8em;
    }
    .slide__intro {
      font-family: "OpenSans-Light";
      color: $blue5-color;
      margin:0px;
      padding-bottom:0.2em;
    }
    .slide--more {
      font-family: "OpenSans-Regular";
      font-size:0.9em;
      color:$blue-color;
      text-decoration: none;
      text-transform: uppercase;
    }
    .sep {
      &.sep--top {
        @include putSeparator( $blue3-color, 63%);
        margin-bottom:0.5em;
      }
    }
  }


  @media #{$small-only} {
    #slider-news {
      .rsSlide {
        > div {
          margin:0px 50px;
        }
      }
      div {
        text-align:center;
      }
    }
  }

  @media #{$medium-only} {
    .section__content {
      //Slider
      .slide__title {
        font-size:1em;
        line-height: 1.2em;
        margin-top:1em;
      }
      .slide__subTitle {
        font-family: "OpenSans-Regular";
        color: #13688d;
        font-size:0.75em;
        line-height: 1.2em;
        padding-bottom:0.8em;
      }
      .slide__intro {
        font-family: "OpenSans-Light";
        color: $blue5-color;
        margin:0px;
        padding-bottom:0.2em;
      }
      .slide--more {
        font-family: "OpenSans-Regular";
        font-size:0.9em;
        color:$blue-color;
        text-decoration: none;
        text-transform: uppercase;
      }
      .sep {
        &.sep--top {
          @include putSeparator( $blue3-color, 63%);
          margin-bottom:0.5em;
        }
      }
    }
  }

  @media #{$large-up} {

    /***************
      *   SLIDER
      ****************/
    .visibleNearby {
      width: 100%;
      .rsSlide img {
//        opacity: 0.45;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;

        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        margin-left:0px !important;
      }
      .rsActiveSlide img {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
      }

      // Arrows
      $arrow-height:103px;
      $arrow-width:103px;

      .rsArrow {
        height: 100%;
        width: $arrow-width;
        position: absolute;
        display: block;
        cursor: pointer;
        z-index: 21;
      }
      .rsArrowIcn {
        width: $arrow-width;
        height: $arrow-height;
        top: 30%;
        left: 0;
        margin-top:-$arrow-height;
        margin-left: 0;
        position: absolute;
        cursor: pointer;
        background-color: transparent;
        *background-color: transparent;
        border-radius: 2px;
      }
      .rsArrowIcn:hover {
        background-color: transparent;
      }

      .rsArrowLeft {
        left: -$arrow-width; top: 0;
        .rsArrowIcn {
          background: url('http://launchr.pl/goat-in-spa/gfx/3_strzalka.png');
        }
      }
      .rsArrowRight {
        right: -$arrow-width; top:0;
        .rsArrowIcn {
          background: url('http://launchr.pl/goat-in-spa/gfx/3_strzalka2.png');
        }
      }
      .rsArrowDisabled {
        .rsArrowIcn { opacity: .2; filter: alpha(opacity=20);  *display: none; }
      }
    }
  }

}


