@import "mod___INCLUDES";

/*========================================================================
  Section           :   Strona powitalna
  Functionality     :   Text+image+background images
  Version:          :   v1.0
  Updated:          :   02/09/2014

  Każda sekcja powinna mieć możliwie schematyczną budową.
  Traktujemy sekcje jako swego rodzaju boxy.

  Zadbaj o to aby:
  - nazwa klasy głównej rozpoczynająca się w konwencji .section__xxxxxx
  - określamy background lub jego brak
  - wewnątrz definicji tego stylu wyodrębniony header oraz main content
  - jeżeli jest jakieś tło to dołączamy je z "mod__ICLUDES" za pomocą @extend
  - opis tego opisu byl aktualny

=========================================================================*/



// Misja
.section__home {

  // Presentation
  background:transparent url("http://launchr.pl/goat-in-spa/gfx/1_motyw.png") top left no-repeat;
  background-size: 60%;

  @media #{$medium-up} { background-size: 60%; }
  @media #{$large-up}  { background-size: 60%; }


  // Layout --> Table
  display: table;
  border-collapse:collapse;
  min-height: 100% !important;
  min-width:100%;


  // Layout --> Row
  .row--tr {
    display:table-row;

    &:nth-of-type(1){
      .column--td{
//        display: table-cell;
        height:45%;
        width:100%;
      }
    }

    &:nth-of-type(2){
      .column--td{
//        display: table-cell;
        height:55%;
        width:100%;

      }
    }

    // Layout --> Cell
//    .columns {
//      display: table-cell;
//    }
  }



  $logo-height:rem-calc(60);

  // Logotyp
  .fundacja__logo {
//    height:$logo-height*3;
    .logo {
      position: absolute;
      top:1rem;
      right:1rem;
      width:45%;
      max-width:155px;
      @media #{$medium-up} {
        width:180px;
      }
      @media #{$large-up} {
        width:231px;
      }
    }
  }

  // Hedaer
  .section__header {
    .section__title {
      text-transform: uppercase;
      @extend %font__size--large;
      @include putBorder(top, $blue4-color, 2px);
      @include putBorder(bottom, $blue4-color, 2px);
    }
  }
}

