/* =The style for the lab
-------------------------------------------------------------- */
#sidebar {
	width:100%;
    /*float:left;*/
	text-align:right;
	margin-bottom: 50px;
	
	
}
#content {
    width:724px;
    float:right;
    padding-left:24px;
}



/* navigation */
nav {
    z-index: 100;
	width:100%;
	height:80px;
    background-color:#fff;
    opacity: 0.75; /* CSS3 */
    padding:0 12px;
}

nav.stick {
	position: fixed;
    top: 0;
    z-index: 100;
    margin-top:0px;
}


nav ul {
	z-index: 100;
    list-style-type:none;
    margin:0;
    padding:0;
	padding-top: 30px;
}

nav li {
    z-index: 100;
	display: inline;
	list-style-type: none;
	padding-right: 40px;
	font-family: "OpenSansL";
	font-size: 1.0em;
	color: #012F48;
	text-align: left;
	
	
}

nav li a {
  z-index: 100;
	
	font-family: "OpenSansL";
	font-size: 1.0em;
	color: #012F48;
	text-decoration: none;
}

nav li a:hover {
	z-index: 100;
	font-family: "OpenSansB";
	font-size: 1.0em;
	color: #012F48;
	text-decoration: none;
}
a.nav-active {
	z-index: 100;
    color:#ccc;
}



hr {
	z-index: 100;
    border:none;
    background-color:rgb(220,220,220);
    height:12px;
    margin-bottom:18px;
}