.fixed {
  z-index:1001;
}

.top-bar-section {
  li {
    a {
      font-size:1em !important;
      &:hover {
        font-family: "OpenSans-Bold";
        font-weight:bold;
      }
    }
  }
}

.fixed.expanded:not(.top-bar){
  .top-bar-section {
     z-index: 98;
     margin-top: 0px;
  }
  .title-area {
     position: relative;
     width: auto;
     z-index: auto;
  }
}
@media #{$sliders-gap}{
  .top-bar-section {
    li {
      a {
        font-size:0.9em !important;
      }
    }
  }
}
@media #{$large-up}{
  #top--nav {
    &.contain-to-grid {
      .top-bar {
        max-width:92%;
        min-width: 997px;
      }
    }
  }
}



//---------------------------

#side--nav {
  position:fixed;
  right:2%;
  top:45%;
  z-index:999;
  .side--nav__items {
    margin:0px;
    padding:0px;
    li {
      list-style-type:none;
      margin-bottom:15px;
      a {
        text-indent:-9999px;
        display: block;
        width:16px;
        height:16px;
        border-radius: 50%;
        -webkit-transition: box-shadow 0.3s ease, background-color 0.3s ease;
        transition: box-shadow 0.3s ease, background-color 0.3s ease;
        background-color: rgba(255, 255, 255, 0.3);
        &:hover {
          background-color: white;
        }
        &.active {
          background-color: transparent !important;
          box-shadow: 0 0 0 2px white !important;
        }
      }
      &.active {
        a,a:hover {
          background-color: transparent !important;
          box-shadow: 0 0 0 2px white !important;
        }
      }
    }
  }
}