

// Fundacja Koźmińskich to organizacja pożytku publicznego.
.section__orgpubliczna {

  //---------------------------------------------------------------
  // Media Queries
  //---------------------------------------------------------------


  //---------------------------------------------------------------
  // General look
  //---------------------------------------------------------------
  h1,h2,h3,h4,h5,h6 { color:$blue5-color; }
  //  background-color:$background-color;

  // Section margines
  .row {
    max-width: 80%;
    @media #{$medium-only} {
      max-width: 95%;
    }
    @media #{$sliders-gap} {
      max-width: 89%;
    }

    .section__content {
      @include setSectionMobile(4em 0 3em 0);
      @include setSectionTablet(2em 0 4.5em 0);
      @include setSectionPc(0px 0 5.5em 0, false, true);
    }
  }



  .crossSectionArrow--left {
    height:160px !important;
    left: 1% !important;
  }


  // ---------------------------------------------------------------
  // SECTION's header
  //---------------------------------------------------------------
  .section__header {

  }

  .section__content {

    @media #{$sliders-gap} {
      margin-left:5%  !important;
      width:90% !important;
    }



    .section__content--wrapper {
      padding-left:200px;
    }

    @media #{$medium-up} {
      @include putSectionImage( $background-color,
              "5_procent.png","", "","",
              0% 192px, none , none, none );
    }


    padding-left: 204px;


    figure {
      margin:0px;
      padding:0px;
    }
    figcaption {
      margin-bottom:20px;
    }
    p,figcaption {
      font-family:"OpenSans-Light";
      font-size: 1.7em;
      color: #203c52;
      line-height: 31px;
      text-align: left;
    }
    a {
      display: block;
      color:#0987ce;
    }
  }

  @media #{$large-up} {
    .crossSectionArrow--left {
      right: -3% !important;
      height: 203px !important;
      bottom: -1em !important;

    }
  }
  @media #{$xlarge-only} {
    .crossSectionArrow--left {
      left: 17% !important;
      height: 203px !important;
      bottom: -1em !important;
    }
  }
}