/*========================================================================
  Section           :   Statut
  Functionality     :   Slider
  Version:          :   v1.1
  Updated:          :   13/09/2014
=========================================================================*/

.section__statut {

  //---------------------------------------------------------------
  // Media Queries
  //---------------------------------------------------------------
  @media #{$medium-up} {
//    @include setSectionTablet(2em 0 2em 0 !important, false);
  }

  //---------------------------------------------------------------
  // General look
  //---------------------------------------------------------------
  h1,h2,h3,h4,h5,h6 { color:#fff; }
  @extend %row--green;

  // Section margines
  .row {
    @include setSectionMobile(4em 0 0 0);
    @include setSectionTablet(3.3em 0 0 0);
    @include setSectionPc(4em 0 2.5em 0);
    @include setSectionHD(4em 0 2.5em 0);
  }

  .sep {
    &.sep--top {
      @include putSeparator( #fff, 60%);
      margin-bottom:0.5em;
    }
    &.sep--bottom {
      @include putSeparator( #fff, 40%);
      margin-top:0.5em;
    }
  }

  // ---------------------------------------------------------------
  // SECTION's header
  //---------------------------------------------------------------
  .section__header {
    .section__title {
      @extend %font__size--large;
      margin-bottom:0.3em;
    }
    .section__subtitle {
      @extend %font__size--medium;
      padding-bottom:0.4em;
      span {
        font-family:"OpenSans-Regular" !important;
        color:#fff;
      }
    }
  }

  // ---------------------------------------------------------------
  // SECTION's main content
  //---------------------------------------------------------------
  .section__content {
    .contentSlider {
      @extend %put-sliderArrowsMain;
      @extend %slider__arrows;
      @extend .rsBullets;
      p {
        font-family:"OpenSans-Light";
      }
    }
  }


  @media #{$medium-only} {
    .contentSlider {
      width: 80% !important;
      margin: 0 auto;
    }
  }

  @media #{$large-only} {  }

  @media #{$large-up} {
    .contentSlider {
      width:80% !important;
      margin:0 auto;
      .rsArrowIcn {
        top:180px !important;
      }
      .rsSlide {
        p {
          font-size:1.1em;
        }
      }
    }
  }
}
