<!-- Sekcja 3. Działalność -->
<section id="section-3" class="rowWrapper rowSlide section__dzialalnosc">
    <div class="row collapse">
        <div class="large-12 columns">
            <header class="section__header text-center">
                <h2 class="section__title">Zakres działalności Fundacji:</h2>
            </header>
            <div class="section__content">
                <div id="slider-dzialalnosc" class="royalSlider contentSlider rsDefault">
                    <div class="__events--slide">
                        <div class="__event">
                            <div class="__wrapper" >
                                <div class="__sep" >&nbsp;</div>
                                <div class="__container" >
                                    <span class="__icon"></span>
                                    <div class="__info">
                                        <a class="news__title" href="#" title="">Wybieramy najlepszych</a>
                                        <p class="news__intro">Program stypendialny</p>
                                        <div class="xx">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean accumsan nisi ac pulvinar laoreet. </p>
                                            <p>Nam sollicitudin leo sit amet sollicitudin tincidunt. Nullam sit amet elementum metus, eget gravida elit. Fusce blandit luctus diam, luctus tincidunt felis. Fusce eros dolor, dictum et urna et, ornare dignissim libero. Sed convallis magna neque, eget dictum lacus rutrum in. Nunc sed viverra quam. Sed lacinia tincidunt nunc. Mauris in risus nec dui gravida varius. Integer viverra viverra sapien.</p>
                                        </div>
                                        <a class="news__more" href="#">Czytaj więcej</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="__event">
                            <div class="__wrapper">
                                <div class="__container">
                                    <div class="__info">
                                        <a class="news__title" href="#" title="">
                                            Przybliżanie nauki studentom,
                                            środowiskom biznesowym
                                        </a>
                                        <p class="news__intro">
                                            i aktywistom społecznym.<br/>
                                            Upowszechnianie idei uczenia
                                            się przez cale życie.
                                        </p>
                                        <p class="xx">xxxxxxxxxxxxxx</p>
                                        <a class="news__more" href="#">Czytaj więcej</a>
                                    </div>
                                </div>
                                <div class="__sep">
                                    <span class="__icon"></span>
                                </div>
                            </div>
                        </div>
                        <div class="__event">
                            <div class="__wrapper">
                                <div class="__sep">&nbsp;</div>
                                <div class="__container">
                                    <span class="__icon"></span>
                                    <div class="__info">
                                        <a class="news__title" href="#" title="">Wybieramy najlepszych</a>
                                        <p class="news__intro">Program stypendialny</p>
                                        <p class="xx">xxxxxxxxxxxxxx</p>
                                        <a class="news__more" href="#" >Czytaj więcej</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="__events--slide">
                        <div class="__event">
                            <div class="__wrapper" data-equalizer>
                                <div class="__sep" data-equalizer-watch>&nbsp;</div>
                                <div class="__container" data-equalizer-watch>
                                    <span class="__icon"></span>
                                    <div class="__info">
                                        <a class="news__title" href="#" title="">Wybieramy najlepszych</a>
                                        <p class="news__intro">Program stypendialny</p>
                                        <p class="xx">xxxxxxxxxxxxxx</p>
                                        <a class="news__more" href="#">Czytaj więcej</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="__event">
                            <div class="__wrapper">
                                <div class="__container">
                                    <div class="__info">
                                        <a class="news__title" href="#" title="">
                                            Przybliżanie nauki studentom,
                                            środowiskom biznesowym
                                        </a>
                                        <p class="news__intro">
                                            i aktywistom społecznym.<br/>
                                            Upowszechnianie idei uczenia
                                            się przez cale życie.
                                        </p>
                                        <p class="xx">xxxxxxxxxxxxxx</p>
                                        <a class="news__more" href="#">Czytaj więcej</a>
                                    </div>
                                </div>
                                <div class="__sep">
                                    <span class="__icon"></span>
                                </div>
                            </div>
                        </div>
                        <div class="__event">
                            <div class="__wrapper">
                                <div class="__sep">&nbsp;</div>
                                <div class="__container">
                                    <span class="__icon"></span>
                                    <div class="__info">
                                        <a class="news__title" href="#" title="">Wybieramy najlepszych</a>
                                        <p class="news__intro">Program stypendialny</p>
                                        <p class="xx">xxxxxxxxxxxxxx</p>
                                        <a class="news__more" href="#" >Czytaj więcej</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>