<!-- Sekcja 14. Kontakt -->
<section id="section-14" class="rowWrapper rowSlide section__kontakt">
    <div class="row">
        <div class="large-12 columns">
            <header class="section__header text-center">
                <h1 class="section__title">Kontakt</h1>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="medium-6 columns hide-for-small-only">
            <h2 class="kontakt_form--label">Formularz kontaktowy</h2>
            <form>
                <div class="row">
                    <div class="small-12 medium-9 columns">
                        <label>
                            <input type="text" placeholder="Imię (wymagane)"/>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-9  columns">
                        <label>
                            <input type="text" placeholder="Nazwisko (wymagane)"/>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-9  columns">
                        <label>
                            <input type="text" placeholder="Temat"/>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-11 columns">
                        <label>
                            <textarea placeholder="Wiadomość"></textarea>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <a href="#" class="button tiny">Wyślij</a>
                    </div>
                </div>
            </form>

        </div>
        <div class="small-12 medium-5 columns small-text-center-only">
            <ul class="kontakt__data">
                <li class="kontakt__address">
                    <p class="kontakt__icon">
                        Fundacja <span>Koźmińskich</span>
                    </p>
                    <p>ul. Jagiellońska 59</p>
                    <p>03-301 Warszawa</p>
                </li>
                <li class="kontakt__email">
                    <p class="kontakt__icon">
                        e-mail: <a href="mailto:fundacja@kozminski.edu.pl">fundacja@kozminski.edu.pl</a>
                    </p>
                </li>
                <li class="kontakt__tel">
                    <p class="kontakt__icon">tel: 602 580 696</p>
                    <p>fax: 22 519 21 97</p>
                </li>
                <li class="kontakt__bank">
                    <p class="kontakt__icon">Bank PEKAO S.A. || o/Warszawa</p>
                    <p>nr rachunku: 91 1240 1024 1111 00 1005 2096 87</p>
                </li>
            </ul>
        </div>
    </div>
</section>