<section id="top--nav" class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name"><h1><a href="#home"><img src="gfx/M_logo.png" alt="" /></a></h1></li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section"> <!-- Right Nav Section -->
            <ul class="right">
                <li><a href="#section-1">Misja</a></li>
                <li><a href="#section-11">Aktualności</a></li>
                <li><a href="#section-4">O Fundacji</a></li>
                <li><a href="#section-5">Rada i Zarząd</a></li>
                <li><a href="#section-5">Statut</a></li>
                <li><a href="#section-5">Sprawozdania finansowe</a></li>
                <li><a href="#section-5">Partnerzy fundacji</a></li>
                <li><a href="#section-5">Kontakt</a></li>
            </ul>
        </section>
    </nav>

</section>