<!-- Sekcja 2. Misja -->
<section id="section-2" class="rowWrapper rowSlide section__misja section--hasArrow">
    <div class="row">
        <div class="large-12 columns">
            <header class="section__header text-center">
                <h1 class="section__title">
                    Misja
                </h1>
                <h3 class="section__subtitle">
                    <span class="sep sep--top"></span>
                    <span class="first__line">Aktywne wspieranie postaw przedsiębiorczych</span> oraz inicjowanie międzykulturowej wymiany doświadczeń.
                    <span class="sep sep--bottom"></span>
                </h3>
            </header>
            <div class="section__content"></div>
        </div>
        <figure class="crossSectionArrow--right"><img src="gfx/9_strzalka.png" alt="" title=""/></figure>
    </div>
</section>
