<!----------------------------------------------------------------------------------------------------------------------
Section           :   Aktualności
Functionality     :   Slider
Version:          :   v1.2
Updated:          :   11/09/2014
----------------------------------------------------------------------------------------------------------------------->

<section id="section-4" class="rowWrapper rowSlide section__news">
    <div class="row collapse">
        <div class="large-12 columns">

            <!-- Header -->
            <header class="section__header  text-center">
                <h2 class="section__title">Aktualności</h2>
                <h3 class="section__subtitle hide-for-small-only">
                    <span class="sep sep--top"></span>
                    <span>Aktywne wspieranie postaw przedsiębiorczych</span>
                    oraz inicjowanie międzykulturowej wymiany
                    doświadczeń.
                    <span class="sep sep--bottom"></span>
                </h3>
            </header>

            <!-- Content -->
            <div class="section__content">
                <div id="slider-news" class="royalSlider contentSlider withRelativeReveal visibleNearby">
                    <div class="">
                        <img class="rsImg" src="gfx/3_aktualnosci_f1.jpg" data-rsw="540" data-rsh="325">
                        <h3 class="slide__title">Warsztat "Podstawy prawa autorskiego a wolne licencje"</h3>
                        <h3 class="slide__subTitle">15/07/2014 Fundacja Nowoczesna Polska</h3>
                        <span class="sep sep--top"></span>
                        <p class="slide__intro">After all, you have many other things you should be doing. Who's paying you to waste this time, anyway?</p>
                        <a class="slide--more"
                           data-reveal-id="news-1"
                           href="#">Czytaj więcej</a>

                        <div id="news-1" class="reveal-modal member__details medium" data-reveal>
                            <img class="rsImg2" src="gfx/3_aktualnosci_f1.jpg" data-rsw="540" data-rsh="325">
                            <p class="slide__dateTime2">15/07/2014</p>
                            <h3 class="slide__subTitle2">Warsztat "Podstawy prawa autorskiego a wolne licencje"</h3>
                            <!--<p class="lead">Asystentka Rektora ALK</p>-->
                            <p class="slide__intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque felis tellus, condimentum non nisl ut, ultricies commodo turpis. Ut maximus non sapien a vehicula. Praesent vel elementum urna. Suspendisse ligula purus, vestibulum id metus at, condimentum lacinia felis. Aliquam dictum fermentum augue non efficitur. Nullam finibus commodo ligula, fringilla viverra nibh finibus at. </p>
                            <a class="close-reveal-modal">Powrót do aktualności</a>
                        </div>

                    </div>
                    <div class="">
                        <img class="rsImg" src="gfx/3_aktualnosci_f1.jpg" data-rsw="540" data-rsh="325">
                        <h3 class="slide__title">Warsztat "Podstawy prawa autorskiego a wolne licencje"</h3>
                        <h3 class="slide__subTitle">15/07/2014 Fundacja Nowoczesna Polska</h3>
                        <span class="sep sep--top"></span>
                        <p class="slide__intro">After all, you have many other things you should be doing. Who's paying you to waste this time, anyway?</p>
                        <a class="slide--more"
                           data-reveal-id="news-1"
                           href="#">Czytaj więcej</a>
                    </div>
                    <div class="">
                        <img class="rsImg" src="gfx/3_aktualnosci_f1.jpg" data-rsw="540" data-rsh="325">
                        <h3 class="slide__title">Warsztat "Podstawy prawa autorskiego a wolne licencje"</h3>
                        <h3 class="slide__subTitle">15/07/2014 Fundacja Nowoczesna Polska</h3>
                        <span class="sep sep--top"></span>
                        <p class="slide__intro">After all, you have many other things you should be doing. Who's paying you to waste this time, anyway?</p>
                        <a class="slide--more"
                           data-reveal-id="news-1"
                           href="#">Czytaj więcej</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>