<!-- Sekcja 4. O Fundacji -->
<section id="section-5" class="rowWrapper rowSlide section__ofundacji section--hasArrow">
    <!-- row prefix for mobile -->
    <div class="row__prefix text-center">
        <header class="section__header text-center">
            <h2 class="section__title ">O fundacji</h2>
        </header>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <!--<header class="section__header text-center">-->
                <!--<h2 class="section__title hide-for-small">O fundacji</h2>-->
            <!--</header>-->
            <div class="section__content text-center">
                <img src="gfx/4_logo.png" alt="" />
                <h3 class="section__subtitle">powstałą 1 stycznia 2005 roku.</h3>
                <span class="sep sep--bottom"></span>
                <p> Fundacja jest wyrazem zaangażowania<br>
                    pracowników Akademii Leona Koźmińskiego<br>
                    w rozwój społeczności lokalnych i biznesowych.
                </p>
            </div>
        </div>
        <figure class="crossSectionArrow--left show-for-large-up">
            <img src="gfx/5_strzalkaD.png" alt="" title=""/>
        </figure>
    </div>
    <!-- row sufix for mobile -->
    <div class="row__sufix show-for-small-only">
        <figure class="crossSectionArrow--left"><img src="gfx/5_strzalkaD.png" alt="" title=""/></figure>
    </div>
</section>
