
    </div><!--/eo @globalContainer -->

<script>
    /**
     * Self executing function to determine viewport height and set it as a value for welcome screen section
     */
    (function() {
        var oDiv = document.getElementById("home");
        var welcomeScreen = document.getElementById("section-1");
        var sOriginalOverflow = oDiv.style.overflow;
        var sOriginalHeight = oDiv.style.height;
        oDiv.style.overflow = "";
        oDiv.style.height = "";
        var height = oDiv.offsetHeight;
        oDiv.style.height = sOriginalHeight;
        oDiv.style.overflow = sOriginalOverflow;
        welcomeScreen.setAttribute("style","height:"+height+"px;");
        console.log("Real height is " + height);
    })();
</script>

<script src="js/require.js"></script>
<script src="js/app.js"></script>
</body>
</html>