<!-- Sekcja 12. Instytucje partnerskie w projektach -->
<section id="section-12" class="rowWrapper rowSlide section__instytucjepartnerskie">
    <div class="row">
        <div class="large-12 columns">
            <header class="section__header text-center">
                <h2 class="section__title">
                    <span class="sep sep--top"></span>
                    Instytucje partnerskie
                    <span>w projektach:</span>
                    <span class="sep sep--bottom"></span>
                </h2>
            </header>
        </div>
    </div>
</section>

<!-- Sekcja 12a. Instytucje partnerskie w projektach -->
<section id="section-12a" class="rowWrapper rowSlide section__partnerzy2">
    <div class="row">
        <div class="small-12 medium-4 columns">
            <div class="partner">
                <div class="imp--wrapper"><img src="gfx/9_partnerzy_logo_1.jpg" alt="" title=""></div>
                <h4 class="partner--name">Akademia Leona Koźmińskiego</h4>
                <p class="partner--description">
                    Polska niepubliczna uczelnia
                    akademicka, specjalizująca się
                    w zakresie nauk ekonomicznych,
                    humanistycznych i prawnych.
                </p>
                <a class="partner_www">www.kozminski.edui.pl</a>
            </div>
        </div>
        <div class="small-12 medium-4  columns">
            <div class="partner">
                <div class="imp--wrapper"><img src="gfx/9_partnerzy_logo_2.jpg" alt="" title=""></div>
                <h4 class="partner--name">Akademia Leona Koźmińskiego</h4>
                <p class="partner--description">
                    Polska niepubliczna uczelnia
                    akademicka, specjalizująca się
                    w zakresie nauk ekonomicznych,
                    humanistycznych i prawnych.
                </p>
                <a class="partner_www">www.kozminski.edui.pl</a>
            </div>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="partner">
                <div class="imp--wrapper"><img src="gfx/9_partnerzy_logo_3.jpg" alt="" title=""></div>
                <h4 class="partner--name">Akademia Leona Koźmińskiego</h4>
                <p class="partner--description">
                    Polska niepubliczna uczelnia
                    akademicka, specjalizująca się
                    w zakresie nauk ekonomicznych,
                    humanistycznych i prawnych.
                </p>
                <a class="partner_www">www.kozminski.edui.pl</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-4 columns">
            <div class="partner">
                <div class="imp--wrapper"><img src="gfx/9_partnerzy_logo_1.jpg" alt="" title=""></div>
                <h4 class="partner--name">Akademia Leona Koźmińskiego</h4>
                <p class="partner--description">
                    Polska niepubliczna uczelnia
                    akademicka, specjalizująca się
                    w zakresie nauk ekonomicznych,
                    humanistycznych i prawnych.
                </p>
                <a class="partner_www">www.kozminski.edui.pl</a>
            </div>
        </div>
        <div class="small-12 medium-4  columns">
            <div class="partner">
                <div class="imp--wrapper"><img src="gfx/9_partnerzy_logo_2.jpg" alt="" title=""></div>
                <h4 class="partner--name">Akademia Leona Koźmińskiego</h4>
                <p class="partner--description">
                    Polska niepubliczna uczelnia
                    akademicka, specjalizująca się
                    w zakresie nauk ekonomicznych,
                    humanistycznych i prawnych.
                </p>
                <a class="partner_www">www.kozminski.edui.pl</a>
            </div>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="partner">
                <div class="imp--wrapper"><img src="gfx/9_partnerzy_logo_3.jpg" alt="" title=""></div>
                <h4 class="partner--name">Akademia Leona Koźmińskiego</h4>
                <p class="partner--description">
                    Polska niepubliczna uczelnia
                    akademicka, specjalizująca się
                    w zakresie nauk ekonomicznych,
                    humanistycznych i prawnych.
                </p>
                <a class="partner_www">www.kozminski.edui.pl</a>
            </div>
        </div>
    </div>
</section>
