<section id="section-7" class="rowWrapper rowSlide section__orgpubliczna hide-for-small-only">
    <div class="row collapse">
        <!--<div class="large-12 columns">-->
            <div class="section__content columns medium-11 medium-offset-1 small-12 large-9 large-offset-3 xlarge-">
                <div class="section__content--wrapper">
                    <figure><img src="gfx/5_logo.png" alt="" />
                    <figcaption>to organizacja pożytku publicznego.</figcaption>

                    <p class="text">
                        Przekazując 1% swojego podatku wspomagasz realizację
                        <a href="#" title="">naszych projektów społecznych.</a>
                    </p>
                </div>
            </div>
        <!--</div>-->
        <figure class="crossSectionArrow--left"><img src="gfx/5_strzalkaD.png" alt="" title=""/></figure>
    </div>
</section>
