<!-- Sekcja 11. Partnerzy Fundacji -->
<section id="section-11" class="rowWrapper rowSlide section__partnerzy  section--hasArrow">
    <div class="row">
        <div class="large-12 columns">
            <header class="section__header text-center">
                <h1 class="section__title">Partnerzy Fundacji</h1>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-4 columns">
            <div class="partner">
                <div class="imp--wrapper"> <img src="gfx/9_partnerzy_logo.jpg" alt="" title=""></div>
                <h4 class="partner--name">Akademia Leona Koźmińskiego</h4>
                <p class="partner--description">
                    Polska niepubliczna uczelnia
                    akademicka, specjalizująca się
                    w zakresie nauk ekonomicznych,
                    humanistycznych i prawnych.
                </p>
                <a class="partner_www">www.kozminski.edui.pl</a>
            </div>
        </div>
        <div class="small-12 medium-4  columns">
            <div class="partner">
                <div class="imp--wrapper"><img src="gfx/9_partnerzy_logo.jpg" alt="" title=""></div>
                <h4 class="partner--name">Akademia Leona Koźmińskiego</h4>
                <p class="partner--description">
                    Polska niepubliczna uczelnia
                    akademicka, specjalizująca się
                    w zakresie nauk ekonomicznych,
                    humanistycznych i prawnych.
                </p>
                <a class="partner_www">www.kozminski.edui.pl</a>
            </div>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="partner">
                <div class="imp--wrapper"><img src="gfx/9_partnerzy_logo.jpg" alt="" title=""></div>
                <h4 class="partner--name">Akademia Leona Koźmińskiego</h4>
                <p class="partner--description">
                    Polska niepubliczna uczelnia
                    akademicka, specjalizująca się
                    w zakresie nauk ekonomicznych,
                    humanistycznych i prawnych.
                </p>
                <a class="partner_www">www.kozminski.edui.pl</a>
            </div>
        </div>
        <figure class="crossSectionArrow--right"><img src="gfx/9_strzalka.png" alt="" title=""/></figure>
    </div>
</section>
