<!-- Sekcja 5. Rada i Zarząd Fundacji -->
<section id="section-6" class="rowWrapper rowSlide section__radaizarzad">
<div class="row">
<div class="large-12 columns">



<header class="section__header text-center">
    <h2 class="section__title">Rada i Zarząd Fundacji</h2>
</header>


<img src="fileadmin/templates/fundacjakozminski/_tmpl/_pages/gfx/right.png" alt="" class="right-join" />
<div class="section__content small-only-text-center">
<div class="row row__zarzad">
    <div class="columns medium-3">
        <h3 class="extra__label">Prezes <br/>Fundacji</h3>
    </div>
    <dd class="medium-1 columns">&nbsp;</dd>
    <div class="columns medium-8">
        <h3 class="extra__label">Członkowie&nbsp;<span>Zarządu</span></h3>
    </div>
</div>
<div class="row collapse row__decoration" data-equalizer>
    <dl class="tabs" data-tab>
        <dd data-equalizer-watch class="active small-12 medium-3 columns">
            <a class="hide-for-medium-up" href="#" data-reveal-id="rada1">Prof. Leon Koźmiński xxx</a>
            <a class="person__image hidden-for-small-only" data-reveal-id="rada1" href="#"><img src="fileadmin/templates/fundacjakozminski/_tmpl/_pages/gfx/5_prezes.png"
                                                                                                alt=""/></a>
        </dd>
        <dd data-equalizer-watch class="small-12 medium-1 columns">&nbsp;</dd>
        <dd data-equalizer-watch class="small-12 medium-2 columns">
            <a class="hide-for-medium-up" href="#" data-reveal-id="rada1">Prof. Leon Koźmiński</a>
            <a class="person__image hidden-for-small-only" data-reveal-id="rada1"><img src="fileadmin/templates/fundacjakozminski/_tmpl/_pages/gfx/5_czlonek_M.png"
                                                                                       alt=""/></a>
        </dd>
        <dd data-equalizer-watch class="small-12 medium-2 columns">
            <a class="hide-for-medium-up" href="#" data-reveal-id="rada1">Małgorzata Heit</a>
            <a class="person__image hidden-for-small-only" data-reveal-id="rada1"><img src="fileadmin/templates/fundacjakozminski/_tmpl/_pages/gfx/5_czlonek_K1.png"
                                                                                            alt=""/></a>
        </dd>
        <dd data-equalizer-watch class="small-12 medium-2 columns">
            <a class="hide-for-medium-up" href="#" data-reveal-id="rada1">Teresa Nowacka</a>
            <a class="person__image hidden-for-small-only" data-reveal-id="rada1"><img src="fileadmin/templates/fundacjakozminski/_tmpl/_pages/gfx/5_czlonek_K2.png"
                                                                                            alt=""/></a>
        </dd>
        <dd data-equalizer-watch class="small-12 medium-2 columns">
            <a class="hide-for-medium-up" href="#" data-reveal-id="rada1">Magdalena Bąk</a>
            <a class="person__image hidden-for-small-only" data-reveal-id="rada1"><img src="fileadmin/templates/fundacjakozminski/_tmpl/_pages/gfx/5_czlonek_K3.png"
                                                                                            alt=""/></a>
        </dd>
    </dl>
</div>
<div class="tabs-content text-center">
    <div class="content" id="panel1rada">
        <h2>Prof. Leon Koźmiński</h2>

        <p><strong>Wybór Prof. Leona Koźmińskiego na patrona fundacji nie był przypadkowy. Profesor urodził się 1904 roku na
            Ukrainie. Szkołę średnią ukończył w Lozannie, w Szwajcarii. Następnie studiował w kraju, w Szkole Głównej
            Handlowej, w której uzyskał magisterium.</strong></p>

        <p>Stopień doktora obronił na Sorbonie, w Paryżu, w wieku 26 lat. Był to rok 1929. Habilitował się w latach 30-tych.
            Był docentem w SGH specjalizującym się w organizacji i technice handlu. Uczył tam też języka francuskiego. </p>

        <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
        <a class="slide--more" data-reveal-id="rada1" href="#">Szczegóły</a>

        <div id="rada1" class="reveal-modal member__details" data-reveal>
            <div class="member__details--wrapper">
                <figure class="text-center">
                    <img class="hide-for-small-only rsImg"
                         src="fileadmin/templates/fundacjakozminski/_tmpl/_pages/gfx/5_czlonek_K1.jpg"
                         data-rsw="340" data-rsh="225">
                </figure>
                <h2 class="slide__subTitle">Ewa Puławska</h2>
                <h3 class="slide__subTitle">Asystentka Rekora ALK</h3>
                <span class="sep sep--top"></span>
                <p class="slide__intro">
                        Wybór Prof. Leona Koźmińskiego na patrona fundacji nie był przypadkowy. Profesor
                        urodził się 1904 roku na Ukrainie. Szkołę średnią ukończył w Lozannie, w
                        Szwajcarii. Następnie studiował w kraju, w Szkole Głównej Handlowej, w której
                        uzyskał magisterium.
                </p>
            </div>

            <a class="close-reveal-modal">&#215;</a>
        </div>
    </div>
    <div class="content" id="panel2aa">
        <h2>Małgorzata Heit</h2>

        <p><strong>Wybór Prof. Leona Koźmińskiego na patrona fundacji nie był przypadkowy. Profesor urodził się 1904 roku na
            Ukrainie. Szkołę średnią ukończył w Lozannie, w Szwajcarii. Następnie studiował w kraju, w Szkole Głównej
            Handlowej, w której uzyskał magisterium.</strong></p>

        <p>Stopień doktora obronił na Sorbonie, w Paryżu, w wieku 26 lat. Był to rok 1929. Habilitował się w latach 30-tych.
            Był docentem w SGH specjalizującym się w organizacji i technice handlu. Uczył tam też języka francuskiego. </p>

        <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
        <a class="slide--more" data-reveal-id="rada1" href="#">Szczegóły</a>
    </div>
    <div class="content" id="panel3aa">
        <h2>Teresa Nowacka</h2>

        <p><strong>Wybór Prof. Leona Koźmińskiego na patrona fundacji nie był przypadkowy. Profesor urodził się 1904 roku na
            Ukrainie. Szkołę średnią ukończył w Lozannie, w Szwajcarii. Następnie studiował w kraju, w Szkole Głównej
            Handlowej, w której uzyskał magisterium.</strong></p>

        <p>Stopień doktora obronił na Sorbonie, w Paryżu, w wieku 26 lat. Był to rok 1929. Habilitował się w latach 30-tych.
            Był docentem w SGH specjalizującym się w organizacji i technice handlu. Uczył tam też języka francuskiego. </p>

        <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
        <a class="slide--more" data-reveal-id="rada1" href="#">Szczegóły</a>
    </div>
    <div class="content" id="panel4aa">
        <h2>Magdalena Bąk</h2>

        <p><strong>Wybór Prof. Leona Koźmińskiego na patrona fundacji nie był przypadkowy. Profesor urodził się 1904 roku na
            Ukrainie. Szkołę średnią ukończył w Lozannie, w Szwajcarii. Następnie studiował w kraju, w Szkole Głównej
            Handlowej, w której uzyskał magisterium.</strong></p>

        <p>Stopień doktora obronił na Sorbonie, w Paryżu, w wieku 26 lat. Był to rok 1929. Habilitował się w latach 30-tych.
            Był docentem w SGH specjalizującym się w organizacji i technice handlu. Uczył tam też języka francuskiego. </p>

        <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
        <a class="slide--more" data-reveal-id="rada1" href="#">Szczegóły</a>

    </div>
</div>
</div>
<div class="section__content small-only-text-center">
<div class="row row__rada">
    <div class="columns medium-3">
        <h3 class="extra__label">Fundator</h3>
    </div>
    <dd class="medium-3 columns">&nbsp;</dd>
    <div class="columns medium-6">
        <h3 class="extra__label">Rada&nbsp;<span>Fundacji</span></h3>
    </div>
</div>
<div class="row collapse row__decoration" data-equalizer>
    <dl class="tabs" data-tab>
        <dd data-equalizer-watch class="active small-12 medium-3 columns">
            <a class="hide-for-medium-up" href="#" data-reveal-id="rada1">Prof. Leon Koźmiński</a>
            <a class="person__image hidden-for-small-only" data-reveal-id="rada1"><img src="fileadmin/templates/fundacjakozminski/_tmpl/_pages/gfx/5_prezes.png"
                                                                                       alt=""/></a>
        </dd>
        <dd data-equalizer-watch class="small-12 medium-3 columns">&nbsp;</dd>
        <dd data-equalizer-watch class="small-12 medium-2 columns">
            <a class="hide-for-medium-up" href="#" data-reveal-id="patron-2aa">Małgorzata Heit</a>
            <a class="person__image hidden-for-small-only" data-reveal-id="patron-12aa"><img src="fileadmin/templates/fundacjakozminski/_tmpl/_pages/gfx/5_czlonek_M2.png"
                                                                                             alt=""/></a>
        </dd>
        <dd data-equalizer-watch class="small-12 medium-2 columns">
            <a class="hide-for-medium-up" href="#" data-reveal-id="patron-3aa">Teresa Nowacka</a>
            <a class="person__image hidden-for-small-only" data-reveal-id="patron-13aa"><img src="fileadmin/templates/fundacjakozminski/_tmpl/_pages/gfx/5_czlonek_M3.png"
                                                                                             alt=""/></a>
        </dd>
        <dd data-equalizer-watch class="small-12 medium-2 columns">
            <a class="hide-for-medium-up" href="#" data-reveal-id="patron-4aa">Magdalena Bąk</a>
            <a class="person__image hidden-for-small-only" data-reveal-id="patron-14aa"><img src="fileadmin/templates/fundacjakozminski/_tmpl/_pages/gfx/5_czlonek_M4.png"
                                                                                             alt=""/></a>
        </dd>
    </dl>
</div>
<div class="tabs-content text-center">
<div class="content" id="panel11aa">
    <h2>Prof. Leon Koźmiński</h2>

    <p><strong>Wybór Prof. Leona Koźmińskiego na patrona fundacji nie był przypadkowy. Profesor urodził się 1904 roku na
        Ukrainie. Szkołę średnią ukończył w Lozannie, w Szwajcarii. Następnie studiował w kraju, w Szkole Głównej
        Handlowej, w której uzyskał magisterium.</strong></p>

    <p>Stopień doktora obronił na Sorbonie, w Paryżu, w wieku 26 lat. Był to rok 1929. Habilitował się w latach 30-tych.
        Był docentem w SGH specjalizującym się w organizacji i technice handlu. Uczył tam też języka francuskiego. </p>

    <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
    <a class="slide--more" data-reveal-id="patron-11aa" href="#">Szczegóły</a>

    <div id="patron-11aa" class="reveal-modal member__details" data-reveal>
        <h3 class="slide__subTitle">Prof. Leon Koźmiński</h3>
        <figure class="text-center">
            <img class="hide-for-small-only rsImg"
                 src="http://m.natemat.pl/3f379ad7ee5b2cc7124337f3097244ed,640,0,0,0.jpg"
                 data-rsw="340" data-rsh="225">
        </figure>
        <p class="slide__intro">

        <p>Wybór Prof. Leona Koźmińskiego na patrona fundacji nie był przypadkowy. Profesor
            urodził się 1904 roku na Ukrainie. Szkołę średnią ukończył w Lozannie, w
            Szwajcarii. Następnie studiował w kraju, w Szkole Głównej Handlowej, w której
            uzyskał magisterium.</p>

        <p>Stopień doktora obronił na Sorbonie, w Paryżu, w wieku 26 lat. Był to rok 1929.
            Habilitował się w latach 30-tych. Był docentem w SGH specjalizującym się w
            organizacji i technice handlu. Uczył tam też języka francuskiego. </p>

        <p>We wrześniu 1939 roku walczył jako porucznik w 21 pułku piechoty. Udało mu się
            uniknąć niewoli rosyjskiej. Idea szerzenia wiedzy była zawsze bardzo Mu bliska.
            W czasie okupacji niemieckiej uczył w Miejskiej Szkole Handlowej w Warszawie,
            która była faktycznie zakonspirowaną SGH oraz w Instytucie Morskim przy tajnym
            Uniwersytecie Ziem Zachodnich. Był wielki patriotą. Działał w konspiracji, w
            komórce „Z”- „Ziemie Zachodnie”, przy Delegaturze rządu londyńskiego na kraj. W
            stopniu porucznika walczył na Mokotowie w Powstaniu Warszawskim jako członek
            dowództwa Zgrupowania AK „Baszta”. Po upadku Powstania został wywieziony do
            Niemiec. </p>

        <p>Od roku 1947 Profesor współorganizował ponowne uruchomienie SGH, w której był
            kierownikiem katedry i dziekanem. Profesor sprzyjał wszystkiemu, co w tym
            zakresie mogło być przenoszone z doświadczeń zachodnich, wykorzystywał
            znajomości i literaturę, a przy okazji wspierał rozwój młodych pracowników
            naukowych. </p>

        <p>Głównie w oparciu o wysiłek Profesora ukształtowana została kadra Instytutu
            Handlu Wewnętrznego, którego został dyrektorem. Część kadry do dziś kontynuuje w
            rozwiniętej formule wątki regulacyjne, marketingowe i inne kierunki badań
            wspierające współczesny rynek i działające przedsiębiorstwa. </p>

        <p>Na tych i innych obszarach badań tworzył warunki do adaptacji szerokiej
            instrumentacji biznesowej, które we współczesnych procesach zmian znalazły
            sprzyjający klimat czyli otwarte nastawienie do postępu rynkowego, jaki
            przyniósł koniec XX wieku w naszym kraju. </p>

        <p>Wkład Profesora w kształtowanie klimatu przedsiębiorczości i prowadzenie badań z
            zakresu organizacji i zarządzania procentował w praktyce. Jako Ekspert działał
            on w gremiach oceniających projekty inwestycyjne, które kształtowały ówczesne
            formy infrastruktury rynku. Przenosił na ich grunt doświadczenia z praktyk
            Europy Zachodniej, ale też z własnych badań i Jego zespołów, wywierając wpływ na
            postęp często wybiegający naprzód o wiele lat. Angażował się w procesy szkolenia
            i doskonalenia kadry menedżerskiej, której przekazywał najnowsze doświadczenia
            europejskie i kształtował sposób myślenia kategoriami m. in. samodzielności,
            przedsiębiorczości, orientacji na klienta i rynek, działania kalkulacyjnego w
            konkretnych decyzjach.</p>
        </p>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</div>
<div class="content" id="panel12aa">
    <h2>Małgorzata Heit</h2>

    <p><strong>Wybór Prof. Leona Koźmińskiego na patrona fundacji nie był przypadkowy. Profesor urodził się 1904 roku na
        Ukrainie. Szkołę średnią ukończył w Lozannie, w Szwajcarii. Następnie studiował w kraju, w Szkole Głównej
        Handlowej, w której uzyskał magisterium.</strong></p>

    <p>Stopień doktora obronił na Sorbonie, w Paryżu, w wieku 26 lat. Był to rok 1929. Habilitował się w latach 30-tych.
        Był docentem w SGH specjalizującym się w organizacji i technice handlu. Uczył tam też języka francuskiego. </p>

    <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
    <a class="slide--more" data-reveal-id="patron-12a" href="#">Szczegóły</a>

    <div id="patron-12aa" class="reveal-modal member__details" data-reveal>
        <h3 class="slide__subTitle">Prof. Leon Koźmiński</h3>
        <figure class="text-center">
            <img class="hide-for-small-only rsImg"
                 src="http://m.natemat.pl/3f379ad7ee5b2cc7124337f3097244ed,640,0,0,0.jpg"
                 data-rsw="340" data-rsh="225">
        </figure>
        <p class="slide__intro">

        <p>Wybór Prof. Leona Koźmińskiego na patrona fundacji nie był przypadkowy. Profesor
            urodził się 1904 roku na Ukrainie. Szkołę średnią ukończył w Lozannie, w
            Szwajcarii. Następnie studiował w kraju, w Szkole Głównej Handlowej, w której
            uzyskał magisterium.</p>

        <p>Stopień doktora obronił na Sorbonie, w Paryżu, w wieku 26 lat. Był to rok 1929.
            Habilitował się w latach 30-tych. Był docentem w SGH specjalizującym się w
            organizacji i technice handlu. Uczył tam też języka francuskiego. </p>

        <p>We wrześniu 1939 roku walczył jako porucznik w 21 pułku piechoty. Udało mu się
            uniknąć niewoli rosyjskiej. Idea szerzenia wiedzy była zawsze bardzo Mu bliska.
            W czasie okupacji niemieckiej uczył w Miejskiej Szkole Handlowej w Warszawie,
            która była faktycznie zakonspirowaną SGH oraz w Instytucie Morskim przy tajnym
            Uniwersytecie Ziem Zachodnich. Był wielki patriotą. Działał w konspiracji, w
            komórce „Z”- „Ziemie Zachodnie”, przy Delegaturze rządu londyńskiego na kraj. W
            stopniu porucznika walczył na Mokotowie w Powstaniu Warszawskim jako członek
            dowództwa Zgrupowania AK „Baszta”. Po upadku Powstania został wywieziony do
            Niemiec. </p>

        <p>Od roku 1947 Profesor współorganizował ponowne uruchomienie SGH, w której był
            kierownikiem katedry i dziekanem. Profesor sprzyjał wszystkiemu, co w tym
            zakresie mogło być przenoszone z doświadczeń zachodnich, wykorzystywał
            znajomości i literaturę, a przy okazji wspierał rozwój młodych pracowników
            naukowych. </p>

        <p>Głównie w oparciu o wysiłek Profesora ukształtowana została kadra Instytutu
            Handlu Wewnętrznego, którego został dyrektorem. Część kadry do dziś kontynuuje w
            rozwiniętej formule wątki regulacyjne, marketingowe i inne kierunki badań
            wspierające współczesny rynek i działające przedsiębiorstwa. </p>

        <p>Na tych i innych obszarach badań tworzył warunki do adaptacji szerokiej
            instrumentacji biznesowej, które we współczesnych procesach zmian znalazły
            sprzyjający klimat czyli otwarte nastawienie do postępu rynkowego, jaki
            przyniósł koniec XX wieku w naszym kraju. </p>

        <p>Wkład Profesora w kształtowanie klimatu przedsiębiorczości i prowadzenie badań z
            zakresu organizacji i zarządzania procentował w praktyce. Jako Ekspert działał
            on w gremiach oceniających projekty inwestycyjne, które kształtowały ówczesne
            formy infrastruktury rynku. Przenosił na ich grunt doświadczenia z praktyk
            Europy Zachodniej, ale też z własnych badań i Jego zespołów, wywierając wpływ na
            postęp często wybiegający naprzód o wiele lat. Angażował się w procesy szkolenia
            i doskonalenia kadry menedżerskiej, której przekazywał najnowsze doświadczenia
            europejskie i kształtował sposób myślenia kategoriami m. in. samodzielności,
            przedsiębiorczości, orientacji na klienta i rynek, działania kalkulacyjnego w
            konkretnych decyzjach.</p>
        </p>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</div>
<div class="content" id="panel13aa">
    <h2>Teresa Nowacka</h2>

    <p><strong>Wybór Prof. Leona Koźmińskiego na patrona fundacji nie był przypadkowy. Profesor urodził się 1904 roku na
        Ukrainie. Szkołę średnią ukończył w Lozannie, w Szwajcarii. Następnie studiował w kraju, w Szkole Głównej
        Handlowej, w której uzyskał magisterium.</strong></p>

    <p>Stopień doktora obronił na Sorbonie, w Paryżu, w wieku 26 lat. Był to rok 1929. Habilitował się w latach 30-tych.
        Był docentem w SGH specjalizującym się w organizacji i technice handlu. Uczył tam też języka francuskiego. </p>

    <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
    <a class="slide--more" data-reveal-id="patron-13aa" href="#">Szczegóły</a>

    <div id="patron-13aa" class="reveal-modal member__details" data-reveal>
        <h3 class="slide__subTitle">Prof. Leon Koźmiński</h3>
        <figure class="text-center">
            <img class="hide-for-small-only rsImg"
                 src="http://m.natemat.pl/3f379ad7ee5b2cc7124337f3097244ed,640,0,0,0.jpg"
                 data-rsw="340" data-rsh="225">
        </figure>
        <p class="slide__intro">

        <p>Wybór Prof. Leona Koźmińskiego na patrona fundacji nie był przypadkowy. Profesor
            urodził się 1904 roku na Ukrainie. Szkołę średnią ukończył w Lozannie, w
            Szwajcarii. Następnie studiował w kraju, w Szkole Głównej Handlowej, w której
            uzyskał magisterium.</p>

        <p>Stopień doktora obronił na Sorbonie, w Paryżu, w wieku 26 lat. Był to rok 1929.
            Habilitował się w latach 30-tych. Był docentem w SGH specjalizującym się w
            organizacji i technice handlu. Uczył tam też języka francuskiego. </p>

        <p>We wrześniu 1939 roku walczył jako porucznik w 21 pułku piechoty. Udało mu się
            uniknąć niewoli rosyjskiej. Idea szerzenia wiedzy była zawsze bardzo Mu bliska.
            W czasie okupacji niemieckiej uczył w Miejskiej Szkole Handlowej w Warszawie,
            która była faktycznie zakonspirowaną SGH oraz w Instytucie Morskim przy tajnym
            Uniwersytecie Ziem Zachodnich. Był wielki patriotą. Działał w konspiracji, w
            komórce „Z”- „Ziemie Zachodnie”, przy Delegaturze rządu londyńskiego na kraj. W
            stopniu porucznika walczył na Mokotowie w Powstaniu Warszawskim jako członek
            dowództwa Zgrupowania AK „Baszta”. Po upadku Powstania został wywieziony do
            Niemiec. </p>

        <p>Od roku 1947 Profesor współorganizował ponowne uruchomienie SGH, w której był
            kierownikiem katedry i dziekanem. Profesor sprzyjał wszystkiemu, co w tym
            zakresie mogło być przenoszone z doświadczeń zachodnich, wykorzystywał
            znajomości i literaturę, a przy okazji wspierał rozwój młodych pracowników
            naukowych. </p>

        <p>Głównie w oparciu o wysiłek Profesora ukształtowana została kadra Instytutu
            Handlu Wewnętrznego, którego został dyrektorem. Część kadry do dziś kontynuuje w
            rozwiniętej formule wątki regulacyjne, marketingowe i inne kierunki badań
            wspierające współczesny rynek i działające przedsiębiorstwa. </p>

        <p>Na tych i innych obszarach badań tworzył warunki do adaptacji szerokiej
            instrumentacji biznesowej, które we współczesnych procesach zmian znalazły
            sprzyjający klimat czyli otwarte nastawienie do postępu rynkowego, jaki
            przyniósł koniec XX wieku w naszym kraju. </p>

        <p>Wkład Profesora w kształtowanie klimatu przedsiębiorczości i prowadzenie badań z
            zakresu organizacji i zarządzania procentował w praktyce. Jako Ekspert działał
            on w gremiach oceniających projekty inwestycyjne, które kształtowały ówczesne
            formy infrastruktury rynku. Przenosił na ich grunt doświadczenia z praktyk
            Europy Zachodniej, ale też z własnych badań i Jego zespołów, wywierając wpływ na
            postęp często wybiegający naprzód o wiele lat. Angażował się w procesy szkolenia
            i doskonalenia kadry menedżerskiej, której przekazywał najnowsze doświadczenia
            europejskie i kształtował sposób myślenia kategoriami m. in. samodzielności,
            przedsiębiorczości, orientacji na klienta i rynek, działania kalkulacyjnego w
            konkretnych decyzjach.</p>
        </p>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</div>
<div class="content" id="panel14aa">
    <h2>Magdalena Bąk</h2>

    <p><strong>Wybór Prof. Leona Koźmińskiego na patrona fundacji nie był przypadkowy. Profesor urodził się 1904 roku na
        Ukrainie. Szkołę średnią ukończył w Lozannie, w Szwajcarii. Następnie studiował w kraju, w Szkole Głównej
        Handlowej, w której uzyskał magisterium.</strong></p>

    <p>Stopień doktora obronił na Sorbonie, w Paryżu, w wieku 26 lat. Był to rok 1929. Habilitował się w latach 30-tych.
        Był docentem w SGH specjalizującym się w organizacji i technice handlu. Uczył tam też języka francuskiego. </p>

    <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
    <a class="slide--more" data-reveal-id="patron-14aa" href="#">Szczegóły</a>

    <div id="patron-14aa" class="reveal-modal member__details" data-reveal>
        <h3 class="slide__subTitle">Prof. Leon Koźmiński</h3>
        <figure class="text-center">
            <img class="hide-for-small-only rsImg"
                 src="http://m.natemat.pl/3f379ad7ee5b2cc7124337f3097244ed,640,0,0,0.jpg"
                 data-rsw="340" data-rsh="225">
        </figure>
        <p class="slide__intro">

        <p>Wybór Prof. Leona Koźmińskiego na patrona fundacji nie był przypadkowy. Profesor
            urodził się 1904 roku na Ukrainie. Szkołę średnią ukończył w Lozannie, w
            Szwajcarii. Następnie studiował w kraju, w Szkole Głównej Handlowej, w której
            uzyskał magisterium.</p>

        <p>Stopień doktora obronił na Sorbonie, w Paryżu, w wieku 26 lat. Był to rok 1929.
            Habilitował się w latach 30-tych. Był docentem w SGH specjalizującym się w
            organizacji i technice handlu. Uczył tam też języka francuskiego. </p>

        <p>We wrześniu 1939 roku walczył jako porucznik w 21 pułku piechoty. Udało mu się
            uniknąć niewoli rosyjskiej. Idea szerzenia wiedzy była zawsze bardzo Mu bliska.
            W czasie okupacji niemieckiej uczył w Miejskiej Szkole Handlowej w Warszawie,
            która była faktycznie zakonspirowaną SGH oraz w Instytucie Morskim przy tajnym
            Uniwersytecie Ziem Zachodnich. Był wielki patriotą. Działał w konspiracji, w
            komórce „Z”- „Ziemie Zachodnie”, przy Delegaturze rządu londyńskiego na kraj. W
            stopniu porucznika walczył na Mokotowie w Powstaniu Warszawskim jako członek
            dowództwa Zgrupowania AK „Baszta”. Po upadku Powstania został wywieziony do
            Niemiec. </p>

        <p>Od roku 1947 Profesor współorganizował ponowne uruchomienie SGH, w której był
            kierownikiem katedry i dziekanem. Profesor sprzyjał wszystkiemu, co w tym
            zakresie mogło być przenoszone z doświadczeń zachodnich, wykorzystywał
            znajomości i literaturę, a przy okazji wspierał rozwój młodych pracowników
            naukowych. </p>

        <p>Głównie w oparciu o wysiłek Profesora ukształtowana została kadra Instytutu
            Handlu Wewnętrznego, którego został dyrektorem. Część kadry do dziś kontynuuje w
            rozwiniętej formule wątki regulacyjne, marketingowe i inne kierunki badań
            wspierające współczesny rynek i działające przedsiębiorstwa. </p>

        <p>Na tych i innych obszarach badań tworzył warunki do adaptacji szerokiej
            instrumentacji biznesowej, które we współczesnych procesach zmian znalazły
            sprzyjający klimat czyli otwarte nastawienie do postępu rynkowego, jaki
            przyniósł koniec XX wieku w naszym kraju. </p>

        <p>Wkład Profesora w kształtowanie klimatu przedsiębiorczości i prowadzenie badań z
            zakresu organizacji i zarządzania procentował w praktyce. Jako Ekspert działał
            on w gremiach oceniających projekty inwestycyjne, które kształtowały ówczesne
            formy infrastruktury rynku. Przenosił na ich grunt doświadczenia z praktyk
            Europy Zachodniej, ale też z własnych badań i Jego zespołów, wywierając wpływ na
            postęp często wybiegający naprzód o wiele lat. Angażował się w procesy szkolenia
            i doskonalenia kadry menedżerskiej, której przekazywał najnowsze doświadczenia
            europejskie i kształtował sposób myślenia kategoriami m. in. samodzielności,
            przedsiębiorczości, orientacji na klienta i rynek, działania kalkulacyjnego w
            konkretnych decyzjach.</p>
        </p>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</div>
</div>
</div>
<figure class="crossSectionArrow--right"><img src="fileadmin/templates/fundacjakozminski/_tmpl/_pages/gfx/5_strzalkaG.png" alt="" title=""/></figure>

</div>
</div>
</section>
