<!-- Sekcja 10. Sprawozdania finansowe -->
<section id="section-10" class="rowWrapper rowSlide section__sprawozdania">
    <div class="row">
        <div class="large-12 columns">
            <header class="section__header text-center">
                <h1 class="section__title">Sprawozdania finansowe</h1>
            </header>
        </div>
    </div>
    <section class="subSection__rowWrapper">
        <div class="row">
            <div class="section__content">
                <div id="content-slider-2" class="royalSlider contentSlider rsDefault">
                    <div class="small-12 medium-6 columns">
                        <div class="column__header hidden-for-small"></div>
                        <span class="sep hide-for-small"></span>
                        <div>
                            <ul class="list__files">
                                <li class="list__item">
                                    <a href="#" title="">Sprawozdanie finansowe 2012</a>
                                </li>
                                <li class="list__item">
                                    <a href="#" title="">Sprawozdanie finansowe 2012</a>

                                </li>
                                <li class="list__item">
                                    <a href="#" title="">Sprawozdanie finansowe 2012</a>

                                </li>
                                <li class="list__item">
                                    <a href="#" title="">Sprawozdanie finansowe 2012</a>

                                </li>
                                <li class="list__item">
                                    <a href="#" title="">Sprawozdanie finansowe 2012</a>
                                </li>
                                <li class="list__item">
                                    <a href="#" title="">Sprawozdanie finansowe 2012</a>

                                </li>
                                <li class="list__item">
                                    <a href="#" title="">Sprawozdanie finansowe 2012</a>

                                </li>
                                <li class="list__item">
                                    <a href="#" title="">Sprawozdanie finansowe 2012</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <div class="column__header hidden-for-small"></div>
                        <span class="sep hide-for-small"></span>
                        <div>
                            <ul class="list__files">
                                <li class="list__item">
                                    <a href="#" title="">Sprawozdanie finansowe 2012</a>
                                </li>
                                <li class="list__item">
                                    <a href="#" title="">Sprawozdanie finansowe 2012</a>

                                </li>
                                <li class="list__item">
                                    <a href="#" title="">Sprawozdanie finansowe 2012</a>

                                </li>
                                <li class="list__item">
                                    <a href="#" title="">Sprawozdanie finansowe 2012</a>

                                </li>
                                <li class="list__item">
                                    <a href="#" title="">Sprawozdanie finansowe 2012</a>
                                </li>
                                <li class="list__item">
                                    <a href="#" title="">Sprawozdanie finansowe 2012</a>

                                </li>
                                <li class="list__item">
                                    <a href="#" title="">Sprawozdanie finansowe 2012</a>

                                </li>
                                <li class="list__item">
                                    <a href="#" title="">Sprawozdanie finansowe 2012</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
</section>
