<section id="section-1" class="rowWrapper rowSlide section__home">

    <!-- Row #1 -->
    <div class="row row-1">
        <div class="large-12 columns fundacja__logo">
            <img class="logo" src="gfx/1_logo.png" alt="Fundacja Koźmińskich" />
        </div>
    </div>
    <!-- Row #2 -->
    <div class="row row-2">
        <div class="large-12 columns">
            <header class="section__header text-center">
                <h1 class="section__title">
                    Witamy na stronie<span>Fundacji</span>
                </h1>
            </header>
            <div class="section__content medium-text-right small-text-center">
            </div>
        </div>
    </div>
    <a class="btn__arrow--down" href="#section-2"></a>
</section>

